{% load i18n %}
{% with previous_link_decorator="&laquo;" next_link_decorator="&raquo;" %}
<nav class="pagination pagination-centered">
	<ul>
		{% comment %}
		<li class="index">
			{% blocktrans with current_page=page.number total_page=page.paginator.num_pages %}Page {{ current_page }} of {{ total_page }}{% endblocktrans %}
		</li>
		{% endcomment %}

		{% if page.has_previous %}
			<li><a href="?page={{ page.previous_page_number }}{{ GET_string }}" title="{% trans "Previous page" %}">{{ previous_link_decorator|safe }}</a></li>
		{% else %}
			<li class="disabled"><a title="{% trans "Previous page" %}">{{ previous_link_decorator|safe }}</a></li>
		{% endif %}

		{% for page_number in begin %}
			{% ifequal page.number page_number %}
				<li class="active"><a href="javascript:void(0);">{{ page_number }}</a></li>
			{% else %}
				<li><a href="?page={{ page_number }}{{ GET_string }}" title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a></li>
			{% endifequal%}
		{% endfor %}

		{% if middle %}
			<li class="disabled"><a href="javascript:void(0);">&hellip;</a></li>
			{% for page_number in middle %}
				{% ifequal page.number page_number %}
					<li class="active"><a href="javascript:void(0);">{{ page_number }}</a></li>
				{% else %}
					<li><a href="?page={{ page_number }}{{ GET_string }}" title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a></li>
				{% endifequal%}
			{% endfor %}
		{% endif %}

		{% if end %}
			<li class="disabled"><a href="javascript:void(0);">&hellip;</a></li>
			{% for page_number in end %}
				{% ifequal page.number page_number %}
					<li class="active"><a href="javascript:void(0);">{{ page_number }}</a></li>
				{% else %}
					<li><a href="?page={{ page_number }}{{ GET_string }}" title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a></li>
				{% endifequal%}
			{% endfor %}
		{% endif %}
	  
		{% if page.has_next %}
			<li><a href="?page={{ page.next_page_number }}{{ GET_string }}" title="{% trans "Next page" %}">{{ next_link_decorator|safe }}</a></li>
		{% else %}
			<li class="disabled"><a title="{% trans "Next page" %}">{{ next_link_decorator|safe }}</a></li>
		{% endif %}
	</ul>
</nav>
{% endwith %}