.contact-form {
    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .submit-wrapper {
        text-align: center;
    }

    .errorlist {
        float: right;

        li {
            color: red;
            font-size: 0.85em;
            padding: 0;
            vertical-align: middle;
            /*font-style: oblique;*/
            /*  background: #384313;*/
        }
    }
}

