.contact-form {
    .control-group {
        margin-bottom: 0;
    }

    .submit-wrapper {
        text-align: center;
    }

    .errorlist {
        float: right;

        li {
            vertical-align: text-top;
        }
    }
}

