{% extends "software/root.html" %}
{% load markup %}
{% load software_tags %}

{% block breadcrumb %}
{{ block.super }}
<li>&raquo;</li>
<li><a href="{{ software.get_absolute_url }}">{{ software.title }}</a></li>
{% endblock %}

{% block title %}{{ software.title }}{% endblock %}
{% block pagetitle %}{{ software.title }} | {{ block.super }}{% endblock %}

{% block content %}
    {% comment %}
    <h1>{{ software.title }}</h1>
    <p><em>Version {{ software.version }} &bull; Released {{ software.pub_date|date:"d F Y @ H:m" }}</em></p>
    {% endcomment %}
    {% comment %}
    <div class="software-detail-icon">
        {% if software.app_icon %}
        <img src="{{ MEDIA_URL }}{{ software.app_icon }}" alt="{{ software.title }} icon" />
        {% endif %}
    </div>
    {% endcomment %}
    {% if software.version %}<span class="label label-info">version {{ software.version }}</span>{% endif %}
    {% if software.pub_date %}<span class="label label-info">{{ software.pub_date|date:"Y-m-d" }}</span>{% endif %}
    <div class="node-excerpt">
        {% if software.description %}
        {{ software.description|markdown }}
        {% else %}
        <em>No description has been entered.</em>
        {% endif %}
    </div>
    {% render_tag_links_detail software %}
    <ul class="downloads unstyled cf">
        {% if software.app_file %}
        <li><a class="btn btn-primary" href="{{ software.get_app_file_url }}">Download Application ({{ software.get_app_file_size|filesizeformat }})</a></li>
        {% endif %}
        {% if software.src_file %}
        <li><a class="btn btn-inverse" href="{{ software.get_src_file_url }}">Download Source Code ({{ software.get_src_file_size|filesizeformat }})</a></li>
        {% endif %}
    </ul>
</div>
{# render_tag_links #}
{% endblock %}
