{% extends "software/root.html" %}
{% load markup software_tags %}

{% block title %}{{ software.title }}{% endblock %}
{% block subtitle %} {% if software.version %}{{ software.version }}{% endif %} {% if software.pub_date %}<small><abbr title="{{ software.pub_date|date:"c" }}">{{ software.pub_date|date:"Y.m.d" }}</abbr></small>{% endif %}{% endblock %}

{% block lead %}
    {% if object.summary %}
        <p class="lead">
            {{ object.summary|safe|striptags }}
            {% render_tag_links_detail object %}
        </p>
    {% endif %}
{% endblock %}

{% block content %}
    {% comment %}
    <h1>{{ software.title }}</h1>
    <p><em>Version {{ software.version }} &bull; Released {{ software.pub_date|date:"d F Y @ H:m" }}</em></p>
    {% endcomment %}
    {% comment %}
    <div class="software-detail-icon">
        {% if software.app_icon %}
        <img src="{{ MEDIA_URL }}{{ software.app_icon }}" alt="{{ software.title }} icon">
        {% endif %}
    </div>
    {% endcomment %}
    <div class="node-excerpt">
        {% if software.description %}
        {{ software.description|markdown }}
        {% else %}
        <em>No description has been entered.</em>
        {% endif %}
    </div>
    {% with software.app_file|swfile as app_exists and software.src_file|swfile as src_exists %}
        {% if app_exists or src_exists %}
            <div class="row-fluid">
                <div class="btn-group btn-group-vertical offset2 span8">
                    {% if app_exists %}
                        <a class="btn btn-primary" href="{{ software.app_file|swlink }}"><i class="icon-download-alt icon-white"></i> Download Application <small>({{ software.app_file|swsize|filesizeformat }})</small></a>
                    {% endif %}
                    {% if src_exists %}
                        <a class="btn" href="{{ software.src_file|swlink }}"><i class="icon-file"></i> Download Source Code <small>({{ software.src_file|swsize|filesizeformat }})</small></a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
