{% extends "software/root.html" %}

{% load software_tags %}

{% block pagetitle %}Software | {{ block.super }}{% endblock %}
{% block title %}Software{% endblock %}

{% block content %}
<div class="roundbox">
I have listed below some of the software projects that I have at some point undertaken or ported.
</div>

{% if software_list %}
    {% for software in software_list %}
        <div class="roundbox">
            {% comment %}
            <div class="sw-tbl-cell">
                {% if software.app_icon %}
                <a href="{{ software.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ software.app_icon }}" alt="{{ software.title }} icon" /></a>
                {% else %}
                <div></div>
                {% endif %}
            </div>
            {% endcomment %}
            <div class="node-title"><a href="{{ software.get_absolute_url }}">{{ software.title }}</a></div>
            {% if software.version %}<div class="node-meta">version {{ software.version }}</div>{% endif %}
            {% if software.pub_date %}<div class="node-meta">dated {{ software.pub_date|date:"Y-m-d" }}</div>{% endif %}
            {% if software.summary %}<div class="node-excerpt">{{ software.summary }}</div>{% endif %}
            {% render_tag_links_detail software %}
        </div>
        {% empty %}
<div class="roundbox">
    <em>No software is currently available.</em>
</div>
{% endfor %}
{% endif %}
{% render_tag_links %}
{% endblock %}
