{% extends "software/root.html" %}

{% load software_tags %}

{% block pagetitle %}Software | {{ block.super }}{% endblock %}
{% block title %}Software{% endblock %}

{% block content %}
<p>Below are some of the software projects that I have at some point undertaken or ported.  At this point in time, <strong>all projects are on indefinite hiatus</strong>.  Most will likely undergo no further updates.</p>

{% if software_list %}
<ul class="software-list unstyled">
    {% for software in software_list %}
    <li>
    <div class="well well-small">
            {% comment %}
            <div class="sw-tbl-cell">
                {% if software.app_icon %}
                <a href="{{ software.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ software.app_icon }}" alt="{{ software.title }} icon" /></a>
                {% else %}
                <div></div>
                {% endif %}
            </div>
            {% endcomment %}
            <span class="title"><a href="{{ software.get_absolute_url }}">{{ software.title }}</a></span>
            {% if software.version %}<span class="label label-info">version {{ software.version }}</span>{% endif %}
            {% if software.pub_date %}<span class="label label-info">{{ software.pub_date|date:"Y-m-d" }}</span>{% endif %}
            {% if software.summary %}<p>{{ software.summary }}</p>{% endif %}
            {% render_tag_links_detail software %}
        </div>
        </li>
        {% empty %}
            <li><em>No software is currently available.</em></li>
{% endfor %}
    </ul>
{% endif %}
{# render_tag_links #}
{% endblock %}
