{% extends "software/root.html" %}
{% load software_tags %}

{% block title %}Software{% endblock %}

{% block content %}
<p>Below are some of the software projects that I have at some point undertaken or ported.  At this point in time, <strong>all projects are on indefinite hiatus</strong>.  Most will likely undergo no further updates.</p>

{% if software_list %}
<ul class="unstyled">
    {% for software in software_list %}
    <li>
            {% comment %}
            <div class="sw-tbl-cell">
                {% if software.app_icon %}
                <a href="{{ software.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ software.app_icon }}" alt="{{ software.title }} icon"></a>
                {% else %}
                <div></div>
                {% endif %}
            </div>
            {% endcomment %}
            <h2><a href="{{ software.get_absolute_url }}">{{ software.title }}</a> {% if software.version %}{{ software.version }}{% endif %} <small>{% if software.pub_date %}{{ software.pub_date|date:"Y.m.d" }}</small>{% endif %}</h2>
            <p>
                {% if software.summary %}{{ software.summary }}{% endif %}
                {% render_tag_links_detail software %}
            </p>
        </li>
        {% empty %}
            <li>No software is currently available.</li>
{% endfor %}
    </ul>
{% endif %}
{# render_tag_links #}
{% endblock %}
