{% extends "software/root.html" %}
{% load software_tags %}

{% block breadcrumb %}
{{ block.super }}
<li>&raquo;</li>
<li>Tagged</li>
<li>&raquo;</li>
<li><a href="{% url software_tag_detail tag=tag %}">{{ tag }}</a></li>
{% endblock %}

{% block content_title %}Software tagged &ldquo;{{ tag }}&rdquo;{% endblock %}
{% block page_title %}Software | {{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% if software_list %}
<ul class="software-list unstyled">
    {% for software in software_list %}
    <li>
<div class="well well-small">
{% comment %}
<div class="sw-tbl-cell">
{% if software.app_icon %}
<a href="{{ software.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ software.app_icon }}" alt="{{ software.title }} icon" /></a>
{% else %}
<div></div>
{% endif %}
</div>
{% endcomment %}
<span class="title"><a href="{{ software.get_absolute_url }}">{{ software.title }}</a></span>
{% if software.version %}<span class="label label-info">version {{ software.version }}</span>{% endif %}
{% if software.pub_date %}<span class="label label-info">{{ software.pub_date|date:"Y-m-d" }}</span>{% endif %}
{% if software.summary %}<p>{{ software.summary }}</p>{% endif %}
{% render_tag_links_detail software %}
</div>
{% empty %}
<li><em>No software is available with this tag.</em></li>
{% endfor %}
</ul>
{% endif %}
{# render_tag_links #}
{% endblock %}
