{% extends "software/root.html" %}
{% load software_tags %}

{% block title %}Software{% endblock %}
{% block subtitle %} <small>Tagged &ldquo;{{ tag }}&rdquo;</small>{% endblock %}

{% block content %}
    {{ block.super }}
    {% if software_list %}
        <ul class="unstyled">
            {% for software in software_list %}
            <li>
            {% comment %}
            <div class="sw-tbl-cell">
            {% if software.app_icon %}
            <a href="{{ software.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ software.app_icon }}" alt="{{ software.title }} icon"></a>
            {% else %}
            <div></div>
            {% endif %}
            </div>
            {% endcomment %}
            <h2><a href="{{ software.get_absolute_url }}">{{ software.title }}</a> {% if software.version %}{{ software.version }}{% endif %} {% if software.pub_date %}<small>{{ software.pub_date|date:"DATE_FORMAT" }}</small>{% endif %}</h2>
            <p>
                {% if software.summary %}{{ software.summary }}{% endif %}
                {% render_tag_links_detail software %}
            </p>
            {% endfor %}
        </ul>
    {% else %}
        <p>No software is available with this tag.</p>
    {% endif %}
{# render_tag_links #}
{% endblock %}
