<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>We're down for maintenance.</title>
<style>
body{
	background: #fbfbfb;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
h1{
	line-height: 84px;
	font-size: 84px;
	text-transform: uppercase;
	text-align: center;
	color: #3e3e3e;
	margin: 0 auto;
	margin-top: 10%;
}
p { font-size: 21px; }
div{
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
</style>
</head>

<body>

<div>
<h1>Down</h1>
<p>The application is currently undergoing scheduled maintenance. Please see the message below for more information:</p>
    <p class="message"><strong>{{ maintenance.description }}</strong></p>
	<div><em>Anticipated Service Window:</em></div>
<div>{{ maintenance.start_time|date:"Y-m-d H:i" }} &ndash; {{ maintenance.end_time|date:"Y-m-d H:i" }}</div>
    </div>
</div>

</body>

</html>
