{% extends "html_base.html" %}
{% load core_tags %}
{% block title %}{% endblock %}
{% block pagetitle %}Andrew&rsquo;s Den{% endblock %}
{% block navigation_overrides %}
{{ block.super }}
{% url software as software_url %}
{% url ciphers as ciphers_url %}
{% url about as about_url %}
{# url articles_archive as blog_url #}
{#<li><a href="http://blog.merenbach.com/">Blog</a></li>#}
<li class="{% active about_url %}"><a href="{{ about_url }}">About</a></li>
{#<li class="{% active blog_url %}"><a href="{{ blog_url }}">Blog</a></li>#}
<li class="{% active software_url %}"><a href="{{ software_url }}">Software</a></li>
<li class="{% active ciphers_url %}"><a href="{{ ciphers_url }}">Ciphers</a></li>
{% endblock %}
