<!DOCTYPE html>
{% load sekizai_tags compress static analytical %}
{% addtoblock "css" %}
	{% compress css %}
		<link rel="stylesheet" type="text/css" media="all" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" media="all" href="{% static "css/screen.css" %}">
		<link rel="stylesheet" type="text/css" media="all" href="{% static "css/bootstrap-responsive.min.css" %}">
		<link rel="stylesheet" type="text/css" media="print" href="{% static "css/print.css" %}">
	{% endcompress %}
	<!--[if IE]>
		{% compress css %}
			<style type="text/css">
				.clearfix {
					zoom: 1;     /* triggers hasLayout */
				}  /* Only IE can see inside the conditional comment
				and read this CSS rule. Don't ever use a normal HTML
				comment inside the CC or it will close prematurely. */
			</style>
		{% endcompress %}
	<![endif]-->
	<!--[if !IE 7]>
		{% compress css %}
			<style type="text/css">
				#wrap {display:table;height:100%;}
			</style>
		{% endcompress %}
	<![endif]-->
{% endaddtoblock %}
{% addtoblock "js" %}
	{% compress js %}
		<script type="text/javascript" charset="utf-8" src="{% static "js/jquery-1.8.2.min.js" %}"></script>
		<script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.min.js" %}"></script>
	{% endcompress %}
	<!--[if lt IE 9]>
		{% compress js %}
			<script type="text/javascript" src="{% static "js/html5shiv.js" %}"></script>
			<script type="text/javascript" src="{% static "js/html5shiv-printshiv.js" %}"></script>
		{% endcompress %}
	<![endif]-->
{% endaddtoblock %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | Andrew&rsquo;s Den</title>
		{% analytical_head_top %}
		<link rel="icon" type="image/png" href="/favicon.ico">
		<link rel="shortcut icon" type="image/png" href="/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Andrew Merenbach">
		<meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
		<meta name="description" content="{% block meta-description %}{% endblock %}">
		{% block link %}{% endblock %}
		{% block extrahead %}{% endblock %}
		{% render_block "css" %}
		{% analytical_head_bottom %}
	</head>
	<body>
		{% analytical_body_top %}
		{% block navigation %}
			{% include "navigation.html" %}
		{% endblock %}
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					{% block breadcrumb %}
						{% if request.breadcrumbs.all %}
							<nav>
								<ul class="breadcrumb">
									{% for breadcrumb in request.breadcrumbs %}
									{% if not forloop.last %}<li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> <span class="divider">/</span></li>{% else %}<li class="active">{{ breadcrumb.name }}</li>{% endif %}
									{% endfor %}
								</ul>
							</nav>
						{% endif %}
					{% endblock %}
					<section id="content">
						{% block base_content %}{% endblock %}
					</section>
					<footer id="footer">
						<p class="muted"><small>Copyright &copy; 2011 &ndash; {% now "Y" %} Andrew Merenbach</small></p>
					</footer>
				</div>
			</div>
		</div>
		{% if not user.is_authenticated %}
		<!-- Piwik --> 
		<script type="text/javascript">
			var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.merenbach.com/" : "http://piwik.merenbach.com/");
			document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
		</script><script type="text/javascript">
			try {
				var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
				piwikTracker.trackPageView();
				piwikTracker.enableLinkTracking();
			} catch( err ) {}
		</script><noscript><p><img src="http://piwik.merenbach.com/piwik.php?idsite=1" style="border:0" alt=""></p></noscript>
		<!-- End Piwik Tracking Code -->
		{% endif %}
		{% render_block "js" %}
		{% block extra_js %}{% endblock %}
		{% analytical_body_bottom %}
	</body>
</html>
