<!DOCTYPE html>
{% load sekizai_tags staticfiles analytical %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | {{ site.name }}</title>
		{% analytical_head_top %}
		<link rel="icon" type="image/png" href="/favicon.ico">
		<link rel="shortcut icon" type="image/png" href="/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Andrew Merenbach">
		<meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
		<meta name="description" content="{% block meta-description %}{% endblock %}">
		{% block link %}{% endblock %}
		{% render_block "css" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block css %}
			{% addtoblock "css" %}
				{% include "common/css/bootstrap.html" %}
			{% endaddtoblock %}
		{% endblock %}
		{% include "common/js/html5shiv.html" %}
		{% analytical_head_bottom %}
	</head>
	<body>
		{% analytical_body_top %}
		{% block navigation %}
			{% include "navigation.html" %}
		{% endblock %}
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					{% block breadcrumb %}
						{% if request.breadcrumbs.all %}
							<nav>
								<ul class="breadcrumb">
									{% for breadcrumb in request.breadcrumbs %}
									{% if not forloop.last %}<li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> <span class="divider">/</span></li>{% else %}<li class="active">{{ breadcrumb.name }}</li>{% endif %}
									{% endfor %}
								</ul>
							</nav>
						{% endif %}
					{% endblock %}
					<section id="base_content">
						{% block base_content %}{% endblock %}
					</section>
					<footer id="footer">
						{% block footer_content %}{% endblock %}
					</footer>
				</div>
			</div>
		</div>
		{% render_block "js" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block js %}
			{% addtoblock "js" %}
				{% include "common/js/jquery.html" %}
				{% include "common/js/bootstrap.html" %}
			{% endaddtoblock %}
		{% endblock %}
		{% analytical_body_bottom %}
	</body>
</html>
