<!DOCTYPE html>
{% load sekizai_tags compress staticfiles analytical %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | Andrew&rsquo;s Den</title>
		{% analytical_head_top %}
		<link rel="icon" type="image/png" href="/favicon.ico">
		<link rel="shortcut icon" type="image/png" href="/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Andrew Merenbach">
		<meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
		<meta name="description" content="{% block meta-description %}{% endblock %}">
		{% block link %}{% endblock %}
		{% render_block "css" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block css %}
			{% addtoblock "css" %}
				<link rel="stylesheet" type="text/css" media="all" href="{% static "css/bootstrap.css" %}">
				<link rel="stylesheet" type="text/css" media="all" href="{% static "css/screen.css" %}">
				<link rel="stylesheet" type="text/css" media="all" href="{% static "css/bootstrap-responsive.css" %}">
				<link rel="stylesheet" type="text/css" media="print" href="{% static "css/print.css" %}">
			{% endaddtoblock %}
			{% compress css %}
				<!--[if IE]>
					<style type="text/css">
						.clearfix {
							zoom: 1;     /* triggers hasLayout */
						}  /* Only IE can see inside the conditional comment
						and read this CSS rule. Don't ever use a normal HTML
						comment inside the CC or it will close prematurely. */
					</style>
				<![endif]-->
				<!--[if !IE 7]>
					<style type="text/css">
						#wrap {display:table;height:100%;}
					</style>
				<![endif]-->
			{% endcompress %}
		{% endblock %}
		{% analytical_head_bottom %}
	</head>
	<body>
		{% analytical_body_top %}
		{% block navigation %}
			{% include "navigation.html" %}
		{% endblock %}
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					{% block breadcrumb %}
						{% if request.breadcrumbs.all %}
							<nav>
								<ul class="breadcrumb">
									{% for breadcrumb in request.breadcrumbs %}
									{% if not forloop.last %}<li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> <span class="divider">/</span></li>{% else %}<li class="active">{{ breadcrumb.name }}</li>{% endif %}
									{% endfor %}
								</ul>
							</nav>
						{% endif %}
					{% endblock %}
					<section id="content">
						{% block base_content %}{% endblock %}
					</section>
					<footer id="footer">
						<p class="muted">
							<small>Copyright &copy; 2011 &ndash; {% now "Y" %} Andrew Merenbach</small>
						</p>
					</footer>
				</div>
			</div>
		</div>
		{% render_block "js" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block js %}
			{% addtoblock "js" %}
				<script type="text/javascript" charset="utf-8" src="{% static "js/jquery-1.8.3.js" %}"></script>
				<script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.js" %}"></script>
			{% endaddtoblock %}
			{% compress js %}
				<!--[if lt IE 9]>
					<script type="text/javascript" src="{% static "js/html5shiv.js" %}"></script>
					<script type="text/javascript" src="{% static "js/html5shiv-printshiv.js" %}"></script>
				<![endif]-->
			{% endcompress %}
		{% endblock %}
		{% analytical_body_bottom %}
	</body>
</html>
