<!DOCTYPE html>
{% load sekizai_tags staticfiles analytical %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | The Tata</title>
		{% analytical_head_top %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% render_block "css" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block css %}
			{% addtoblock "css" %}
				<link rel="stylesheet" type="text/css" media="all" href="{% static "css/screen.css" %}">
				<link rel="stylesheet" type="text/css" media="print" href="{% static "css/print.css" %}">
				{% include "common/css/bootstrap.html" %}			
			{% endaddtoblock %}
		{% endblock %}
		{% include "common/js/html5shiv.html" %}
		{% analytical_head_bottom %}
	</head>
	<body>
		{% analytical_body_top %}
		<div class="container">
			<div class="row">
				<section id="content" class="span6 offset3">
					{% block base_content %}{% endblock %}
				</section>
			</div>
			<footer id="footer">
				<p class="muted">Copyright &copy; 2011&ndash;2012 Team Tata</p>
			</footer>
		</div>
		{% render_block "js" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block js %}
			{% addtoblock "js" %}
				{% include "common/js/jquery.html" %}
				{% include "common/js/bootstrap.html" %}
			{% endaddtoblock %}
		{% endblock %}
		{% analytical_body_bottom %}
	</body>
</html>
