{% extends "photologue/root.html" %}
{% load markup %}
{% block title %}{{ object.title }}{% endblock %}
{% block pagetitle %}{{ object.title }}{% endblock %}

{% block content %}
{{ block.super }}
<article class="photo-gallery cf">
<span class="label label-info">{{ object.date_added|date:"Y-m-d" }}</span>
{% if object.description %}<p>{{ object.description|markdown }}</p>{% endif %}
<ul class="thumbnails">
    {% for photo in object.public %}
    <li class="gallery-photo span2">
    <a class="thumbnail" data-title="{{ photo.title }}" data-image="{{ photo.get_display_url }}" data-toggle="modal" data-target="#gallery_modal" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
    </li>
    {% endfor %}
</ul>
<p><a href="{% url pl-gallery-list 1 %}">View all galleries</a></p>
{% comment %}
{% if object.tags %}
    <nav class="tags btn-group">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        Tags
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% for tag in object.tags %}
{{ tag }}
        <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
    </nav>
    {% endif %}
{% endcomment %}
</article>
{% endblock %}
