{% extends "photologue/root.html" %}

{% block content_title %}All Galleries{% endblock %}
{% block page_title %}All Galleries | {{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
<article>
{% if object_list %}
<ul class="unstyled">
    {% for gallery in object_list %}
    <li class="photo-gallery">
    <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
    <ul class="thumbnails">
        {% for photo in gallery.sample|slice:sample_size %}
        <li class="gallery-photo span2">
            <a class="thumbnail" data-title="{{ photo.title }}" data-image="{{ photo.get_display_url }}" data-toggle="modal" data-target="#gallery_modal" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
        </li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No galleries were found.</p>
{% endif %}

{% if is_paginated %}
<p>{{ hits }} galleries total.</p>
<ul id="page_controls" class="pager">
    {% if has_previous %}<li class="previous"><a href="{% url pl-gallery-list previous %}">&larr; Previous</a> |</li>{% endif %}
    <li>page {{ page }} of {{ pages }}</li>
    {% if has_next %}<li class="next">| <a href="{% url pl-gallery-list next %}">Next &rarr;</a></li>{% endif %}
</ul>
{% endif %}
</article>
{% endblock %}
