{% extends "photologue/root.html" %}

{% block content_title %}Photos for {{ month|date:"F Y" }}{% endblock %}
{% block page_title %}Photos for {{ month|date:"F Y" }} | {{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
<article class="photo-gallery">
{% if object_list %}
<ul class="thumbnails">
    {% for photo in object_list %}
    <li class="gallery-photo span2">
        <a class="thumbnail" data-title="{{ photo.title }}" data-image="{{ photo.get_display_url }}" data-toggle="modal" data-target="#gallery_modal" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No photos were found.</p>
{% endif %}
<p><a href="{% url pl-photo-list 1 %}">View all photographs</a></p>
</article>
{% endblock %}
