{% extends "base.html" %}
{% load sekizai_tags compress dajaxice_templatetags staticfiles %}
{% load url from future %}

{% block title %}Ciphers{% endblock %}
{% block subtitle %} <small>Alpha</small>{% endblock %}

{% block css %}
	{{ block.super }}
	{% addtoblock "css" %}
		<link rel="stylesheet" type="text/css" media="all" href="{% static "css/ciphers.css" %}">
	{% endaddtoblock %}
{% endblock %}
{% block js %}
	{{ block.super }}
	{% addtoblock "js" %}
		{% dajaxice_js_import %}
		<script type="text/javascript" charset="utf-8" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
		<script type="text/javascript" charset="utf-8" src="{% static "js/ciphers.js" %}"></script>
	{% endaddtoblock %}
{% endblock %}

{% block content %}
{{ block.super }}

<article>
	<p>This page represents an ever-evolving (and ever-incomplete) attempt at making a multifunctional text encryption and decryption tool.  There are plenty like this (and better than this) elsewhere on the Internet, so if you seek style and flair, you might wish to reconsider before directing others to this specific page.</p>

	<p>That said, this particular encryption tool differs from many others in one important respect: it uses AJAX to perform the encryption and decryption server-side.  This isn't "safer" by any stretch (quite the opposite, perhaps), but it lets me make the code (written in Python, server-side) more maintainable without changing much in terms of browser integration.</p>

	<form class="form-horizontal" method="GET" action="{% url 'ciphers' %}">{% csrf_token %}
		<noscript>
			<p>This application requires JavaScript.  Please enable JavaScript in your browser preferences to proceed.</p>
		</noscript>
		<section>
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="scheme">Cipher Scheme</label>
					<div class="controls">
						<select id="scheme">
							<option value="intro">Introduction</option>
							<option value="affine">Affine</option>
							<option value="atbash">Atbash</option>
							<option value="beaufort">Beaufort</option>
							<!--<option value="beaufortautokey">Beaufort Autoclave (custom)</option>-->
							<option value="caesar">Caesar</option>
							<option value="codeword">Codeword</option>
							<!--<option value="gronsfeld">x Gronsfeld</option>-->
							<!--<option value="variant">x Variant Beaufort</option>-->
							<option value="vigenere">Vigen&#232;re</option>
						</select>
						<span class="help-inline">The cipher scheme to use</span>
					</div>
				</div>
			</fieldset>
		</section>
		<section class="pane" id="intro_pane">
			<p>
				Welcome to Andrew Merenbach's cipher tool suite.  Encryption schemes provided include affine, Atbash, Beaufort, Caesar shift, codeword, <!--variant Beaufort (including an autoclave version),-->and Vigen&#232;re (including an autoclave option).
			</p>
			<p>
				<strong>This tool requires JavaScript.</strong>  This page makes moderate use of CSS standards and HTML5; please ensure that your browser observes these requirements.
			</p>
			<p>
				To begin, please select a scheme from the menu.
			</p>
		</section>
		<div id="cipher_input_panes">
			{% include "ciphers/pane_affine.html" %}
			{% include "ciphers/pane_atbash.html" %}
			{% include "ciphers/pane_beaufort.html" %}
			{% include "ciphers/pane_caesar.html" %}
			{% include "ciphers/pane_codeword.html" %}
			{% include "ciphers/pane_vigenere.html" %}
		</div>
	</form>
</article>
{% endblock %}

{% comment %}
<div id="descriptionforgronsfeld">The Gronsfeld cipher functions very similarly to the Vigen&#232;re (and related) ciphers.  The ciphertext alphabet, however, comprises numbers (0-9), rather than letters.  Although fewer alphabets are available for encoding (10 instead of 26), the ease of creating a lengthy numeric key may make up for this.  As a note, other sites may implement this mechanism somewhat differently.</div>
<div id="descriptionforvariant">The variant Beaufort cipher is functionally identical to the Vigen&#232;re cipher, except that the encryption and decryption steps are reversed.</div>
<div id="descriptionforvigenereautokey">For ciphers involving the tabula recta, the autoclave (or autokey) variant descriptor indicates in most cases that the plaintext will be appended to the key <em>during encoding</em>.  Essentially, a four-letter passphrase would effectively match, in length, its associated message.  This takes significantly more effort to decode than, say, a four-letter passphrase on non-autoclave versions of a cipher, where the passphrase will simply repeat.  Irrespective of whether one uses an autoclave cipher, perhaps the most secure method of encrypting a tabule recta message is to use a long string of gibberish (in letters) as the passphrase and mark it down for use as a one-time pad.  This transcends, ultimately, the differences between the autoclave and non-autoclave forms.</div>
{% endcomment %}
