{% extends "base.html" %}
{% load dajaxice_templatetags staticfiles compress %}

{% block title %}Ciphers{% endblock %}
{% block subtitle %} <small>Alpha</small>{% endblock %}

{% block css %}
	{{ block.super }}
	{% compress css %}
	<link rel="stylesheet" type="text/css" media="all" href="{% static "css/ciphers.css" %}">
	{% endcompress %}
{% endblock %}
{% block js %}
	{{ block.super }}
	{% dajaxice_js_import %}
	{% compress js %}
	<script type="text/javascript" charset="utf-8" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static "js/ciphers.js" %}"></script>
	{% endcompress %}
{% endblock %}

{% block content %}
	{{ block.super }}

	<article>
		<p class="lead">Old-fashioned meets newfangled</p>
		<noscript>
			<p>This application requires JavaScript.  Please enable JavaScript in your browser preferences to proceed.</p>
		</noscript>
	
		<form class="form-horizontal" method="GET" action="{% url 'ciphers' %}">{% csrf_token %}
			<ul class="nav nav-pills">
				<li class="active"><a href="#home" data-toggle="pill">Home</a></li>
				{# <li><a href="#affine" data-toggle="pill">Affine</a></li> #}
				<li><a href="#atbash" data-toggle="pill">Atbash</a></li>
				<li><a href="#beaufort" data-toggle="pill">Beaufort</a></li>
				<li><a href="#caesar" data-toggle="pill">Caesar</a></li>
				<li><a href="#codeword" data-toggle="pill">Codeword</a></li>
				{% comment %}<li><a href="#gronsfeld" data-toggle="tab">Gronsfeld</a></li>{% endcomment %}
				{% comment %}<li><a href="#variant" data-toggle="tab">Variant Beaufort</a></li>{% endcomment %}
				<li><a href="#vigenere" data-toggle="pill">Vigen&#232;re</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="home">
					<p>
						Welcome to my ever-evolving and ever-incomplete attempt at a text encryption and decryption tool.  There are plenty like this, not to mention better than this, elsewhere on the Internet.  Those who seek style and flair may wish to direct friends elsewhere.
					</p>
					<p>
						This project represents a hobby of mine and little more.  Encryption and decryption will occur server-side (via AJAX), rather than client-side.  Please note that <strong>any data submitted with this form will be sent over the Internet</strong>.  This permits me to keep my Python code more maintainable.  It also means that information of a sensitive nature would be better encoded with a different tool.</p>
					</p>
					<p>
						This tool, which I provide &ldquo;as-is,&rdquo; requires JavaScript.
					</p>
				</div>
				{# {% include "ciphers/pane_affine.html" %} #}
				{% include "ciphers/pane_affine.html" %}
				{% include "ciphers/pane_atbash.html" %}
				{% include "ciphers/pane_beaufort.html" %}
				{% include "ciphers/pane_caesar.html" %}
				{% include "ciphers/pane_codeword.html" %}
				{% include "ciphers/pane_vigenere.html" %}
			</div>
		</form>
	</article>
{% endblock %}

{% comment %}
<div id="descriptionforgronsfeld">The Gronsfeld cipher functions very similarly to the Vigen&#232;re (and related) ciphers.  The ciphertext alphabet, however, comprises numbers (0-9), rather than letters.  Although fewer alphabets are available for encoding (10 instead of 26), the ease of creating a lengthy numeric key may make up for this.  As a note, other sites may implement this mechanism somewhat differently.</div>
<div id="descriptionforvariant">The variant Beaufort cipher is functionally identical to the Vigen&#232;re cipher, except that the encryption and decryption steps are reversed.</div>
<div id="descriptionforvigenereautokey">For ciphers involving the tabula recta, the autoclave (or autokey) variant descriptor indicates in most cases that the plaintext will be appended to the key <em>during encoding</em>.  Essentially, a four-letter passphrase would effectively match, in length, its associated message.  This takes significantly more effort to decode than, say, a four-letter passphrase on non-autoclave versions of a cipher, where the passphrase will simply repeat.  Irrespective of whether one uses an autoclave cipher, perhaps the most secure method of encrypting a tabule recta message is to use a long string of gibberish (in letters) as the passphrase and mark it down for use as a one-time pad.  This transcends, ultimately, the differences between the autoclave and non-autoclave forms.</div>
{% endcomment %}
