<section class="tab-pane fade" id="vigenere">
	<p>The <a href="//en.wikipedia.org/wiki/Vigenère_cipher">Vigen&#232;re cipher</a>, a polyalphabetic substitution cipher, has a venerable and quite interesting history.  If a perfectly-random passphrase at least as long as the message is passed in, the encoded output (a form of one-time-pad) may prove unbreakable, at least with any modern methods.  In practice, however, a pseudo-random passphrase or even just a word will be used, rendering the output vulnerable to certain forms of cryptanalysis.</p>
	<p>To shift the tabula recta letters (&agrave; la the Caesar cipher), adjust the primer index.  This implementation also features the ability to use a codeword for the ciphertext alphabet prior to shifting the letters.</p>
	<fieldset>
		<legend>Parameters</legend>
		{% include "ciphers/snippet_source.html" %}
		{% include "ciphers/snippet_passphrase.html" %}
		{% include "ciphers/snippet_primer.html" %}
        {% include "ciphers/snippet_autoclave.html" %}
		{% include "ciphers/snippet_keyword.html" %}
		{% include "ciphers/snippet_digits.html" %}
        {% include "ciphers/snippet_chunk.html" %}
        {% include "ciphers/snippet_options.html" %}
        {% include "ciphers/snippet_operation.html" %}
	</fieldset>
	<fieldset>
		<legend>Output</legend>
		{% include "ciphers/snippet_target.html" %}
	</fieldset>
</section>