<section class="pane" id="affine_pane">
	<p>The affine cipher, a monoalphabetic substitution cipher, makes use of an intriguing multiplier and additive to generate letters based upon a simple formula (which varies based upon the multiplier and additive).  This also represents its downfall, for if an attacker finds two letters, the whole formula can be discerned.</p>
	<fieldset>
		<legend>Parameters</legend>
		{% include "ciphers/snippet_source.html" %}
		{% include "ciphers/snippet_multiplier.html" %}
		{% include "ciphers/snippet_additive.html" %}
        {% include "ciphers/snippet_options.html" %}
        {% include "ciphers/snippet_chunk.html" %}
        {% include "ciphers/snippet_operation.html" %}
	</fieldset>
	<fieldset>
		<legend>Output</legend>
		{% include "ciphers/snippet_target.html" %}
		{% include "ciphers/snippet_alphabets.html" %}
	</fieldset>
</section>