<section class="pane" id="atbash_pane">
	<p>The Atbash cipher, with old Hebrew roots, reverses here the plaintext alphabet under itself to create the ciphertext alphabet.  A becomes Z, B becomes Y, C becomes X, and M becomes N.  This represents a fairly simple monoalphabetic substitution cipher.</p>
	<fieldset>
		<legend>Parameters</legend>
		{% include "ciphers/snippet_source.html" %}
        {% include "ciphers/snippet_chunk.html" %}
        {% include "ciphers/snippet_options.html" %}
		{% include "ciphers/snippet_transcode.html" %}
	</fieldset>
	<fieldset>
		<legend>Output</legend>
		{% include "ciphers/snippet_target.html" %}
		{% include "ciphers/snippet_alphabets.html" %}
	</fieldset>
</section>