<section class="tab-pane fade" id="codeword">
	<p>The codeword (or keyword) cipher is one of the most common monoalphabetic substitution ciphers, along with the Caesar shift.  The ciphertext alphabet is created from the codeword (with duplicate letters removed) followed by any letters that the standard alphabet does <em>not</em> share with the codeword.</p>
	<p>Example alphabets:</p>
<pre>
Codeword:   MONKEY
Cleartext:  ABCDEFGHIJKLMNOPQRSTUVWXYZ
Ciphertext: MONKEYABCDFGHIJLPQRSTUVWXZ
</pre>
<pre>
Codeword:   KANGAROO
Cleartext:  ABCDEFGHIJKLMNOPQRSTUVWXYZ
Ciphertext: KANGROBCDEFHIJLMPQSTUVWXYZ
</pre>
	<fieldset>
		<legend>Parameters</legend>
		{% include "ciphers/snippet_source.html" %}
		{% include "ciphers/snippet_keyword.html" %}
		{% include "ciphers/snippet_options.html" %}
		{% include "ciphers/snippet_chunk.html" %}
        {% include "ciphers/snippet_operation.html" %}
	</fieldset>
	<fieldset>
		<legend>Output</legend>
        {% include "ciphers/snippet_target.html" %}
        {% include "ciphers/snippet_alphabets.html" %}
	</fieldset>
</section>