<div class="control-group">
	<div class="controls">
		<label class="radio inline"><input name="autoclave" type="radio" value="key" checked>Key Autokey</label>
		<label class="radio inline"><input name="autoclave" type="radio" value="text">Text Autokey</label>
		<p class="help-block">Key autokey (the default) repeats the characters in the key, up to the message length.  Text autokey appends the plaintext of the message to the key, which can prove more secure when the original key is shorter than the message.</p>
	</div>
</div>
