<div class="control-group">
	<label class="control-label">Clear Alphabet</label>
	<div class="controls">
		<input type="text" class="field-plaintext input-large" value="" readonly="readonly">
		<span class="help-inline">The standard alphabet, in canonical order</span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">Code Alphabet</label>
	<div class="controls">
		<input type="text" class="field-ciphertext input-large" value="" readonly="readonly">
		<span class="help-inline">The ciphertext alphabet, used to encode the text</span>
	</div>
</div>