{# This partial fills in the navigation bar #}
{% load core_tags i18n %}
{% load url from future %}
{% url 'zinnia_entry_archive_index' as home_url %}
{% url 'bio' as bio_url %}
{% url 'contact' as contact_url %}
{% url 'zinnia_sitemap' as sitemap_url %}
{% url 'zinnia_entry_latest_feed' as feed_url %}
{% comment %}
<div class="container">
	<div class="row">
		<div class="span8 offset2">
{% endcomment %}
			<div class="navbar navbar-static-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a><!-- /.btn.btn-navbar -->

					    <a class="brand" href="{{ home_url }}">{{ site.name }}</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="{% active home_url %}">
									<a href="{{ home_url }}">Home</a>
								</li>
								<li class="{% active bio_url %}">
									<a href="{{ bio_url }}">Bio</a>
								</li>
								<li class="{% active contact_url %}">
									<a href="{{ contact_url }}">Contact</a>
								</li>
							</ul>
							<form class="navbar-search pull-left" method="GET" action="{% url 'zinnia_entry_search' %}">
								<input type="search" class="search-query" placeholder="{% trans "Search" %}" name="pattern" value="{{ pattern|default_if_none:"" }}">
					        </form><!-- /.navbar-search.pull-right -->
					        <ul class="nav pull-right">
								<li class="{% active sitemap_url %}">
									<a href="{{ sitemap_url }}" title="{% trans "Sitemap" %}">
										<i class="icon-map-marker"></i> {% trans "Sitemap" %}
									</a>
								</li><!-- /.{% active sitemap_url %} -->
								<li class="{% active feed_url %}">
									<a href="{{ feed_url }}" title="{% trans "RSS feed" %}">
										<i class="icon-inbox"></i> {% trans "RSS feed" %}
									</a>
								</li><!-- /.{% active feeds_url %} -->
							</ul><!-- /.nav.pull-right -->
						</div><!-- /.nav-collapse.collapse -->	
					</div><!-- /.container -->
				</div><!-- /.nav-inner -->
			</div><!-- /.navbar.navbar-fixed-top -->
{% comment %}
 		</div><!-- /.span6.offset3 -->
	</div><!-- /.row -->
</div><!-- /.container -->
{% endcomment %}
