{% extends 'contact/contact_base.html' %}

{% block contact_message %}
Please feel free to contact me with this form.  I cannot guarantee a response, however, if you send me messages intended for the daughter of Richard Cheney.  I am not his daughter and I do not appear on talk shows or in radio broadcasts.  <strong>Any messages meant for the <em>other</em> Elizabeth Cheney, especially political ones, are likely to be disregarded entirely.</strong>  Thank you for your understanding.
{% endblock %}

{% block contact_thanks %}Thank you for your message.{% endblock %}
