body {
	/* color scheme: Color Index 2, p. 158 (or 151) */
	color: rgb(127, 95, 66);
	background-color: rgb(196, 154, 126);
	/*background-color: #eaeaea;*/
	/*background-color: #eee;*/
	padding-top: 40px;
}

#footer p {
	text-align: center;
}

.about-img {
	width: 12em;
	margin: 0.25em 0.5em 0.25em 0;
}

#content blockquote {
	word-wrap: break-word;
}

#footer {
    padding-top: 1em;
}
