<!DOCTYPE html>
{% load compress %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Internal server error</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% compress css %}{% include "common/css/bootstrap.html" %}{% endcompress %}
		{% include "common/js/html5shiv.html" %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<header class="page-header">
						<h1>{% block error_message %}{% endblock %} <small>{% block error_code %}{% endblock %}</small></h1>
					</header><!-- /.page-header -->
					<p class="lead">
						{% block error_detail %}
							An unexpected error occurred.  An administrator has been notified automatically via e-mail.
						{% endblock error_detail %}
					</p><!-- /.lead -->
				</div><!-- /.span4.offset4 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
		{% compress js %}{% include "common/js/jquery.html" %}
		{% include "common/js/bootstrap.html" %}{% endcompress %}
	</body>
</html>
