<!DOCTYPE html>
{% load sekizai_tags analytical %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | {{ site.name }}</title>
		{% analytical_head_top %}
		{% block extrahead %}{% endblock %}
		{% render_block "css" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block css %}{% endblock %}
		{% include "common/js/html5shiv.html" %}
		{% analytical_head_bottom %}
	</head>
	<body>
		{% analytical_body_top %}
		{% block body_content %}{% endblock %}
		{% render_block "js" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block js %}{% endblock %}
		{% analytical_body_bottom %}
	</body>
</html>
