{% extends "html_base.html" %}
{% load core_tags %}
{% block title %}{% endblock %}
{% block pagetitle %}The Romantics{% endblock %}
{% block project %}The Romantics{% endblock %}
{% block navigation_overrides %}
{{ block.super }}
{% url our_story as our_story_url %}
{% url events as events_url %}
{% url friends_and_family as friends_and_family_url %}
{% url gallery as gallery_url %}
{% url registry as registry_url %}
<li class="{% active our_story_url %}"><a href="{{ our_story_url }}">Our Story</a></li>
<li class="{% active events_url %}"><a href="{{ events_url }}">Wedding Day</a></li>
<li class="{% active friends_and_family_url %}"><a href="{{ friends_and_family_url }}">Friends &amp; Family</a></li>
<li class="{% active gallery_url %}"><a href="{{ gallery_url }}">Gallery</a></li>
<li class="{% active registry_url %}"><a href="{{ registry_url }}">Registry</a></li>
{% endblock %}
{% block branding %}
    {{ block.super }}
    <a class="logo" href="/"><img src="{{ STATIC_URL }}img/austen.png" alt="Logo"></a>
    <a href="/">The Romantics</a>
    <div class="slogan">Elizabeth Cheney &amp; Andrew Merenbach</div>
{% endblock %}
{% block copyright %}
    {{ block.super }}
    <span>Copyright &copy; 2011&ndash;2012 by Andrew Merenbach &amp; Elizabeth Cheney &bull; Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a></span>
{% endblock %}
