{% extends 'html_base.html' %}
{% block pagetitle %}{{ block.super }} | The Romantics{% endblock %}
{% block branding %}
    {{ block.super }}
    <a class="logo" href="/">Logo</a>
    <a href="/">The Romantics</a>
    <div class="slogan">Elizabeth Cheney &amp; Andrew Merenbach</div>
{% endblock %}
{% block copyright %}
    {{ block.super }}
    <span>Copyright &copy; 2011&ndash;2012 by Andrew Merenbach &amp; Elizabeth Cheney &bull; <a href="/admin/">Admin</a> &bull; Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a></span>
{% endblock %}
