{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load additions_tags pagination_tags i18n cms_tags menu_tags sekizai_tags placeholder_tags cmsplugin_blog_tags simple_translation_tags %}

{% comment %}
{% block pagetitle %}Latest entries{% endblock %}
{% block title %}Latest entries{% endblock %}
{% endcomment %}

{% block left-col %}
{{ block.super }}

{# <h1>Latest entries (static)</h1> #}
{% for entry in latest %}
{% with entry|get_preferred_translation_from_request:request as title %}
{% with entry.placeholders|choose_placeholder:"content" as content %}
<div class="roundbox">
    <div class="node-title"><a href="{{ title.get_absolute_url }}">{{ title }}</a></div>
    <div class="node-meta">dated {{ entry.pub_date|date:"Y-m-d \@ H:i" }}</div>
    {% if content %}<div class="node-excerpt">{% render_placeholder content %}</div>{% endif %}
    {% comment %}{% if excerpt %}<div class="node-excerpt">{% render_placeholder excerpt %}</div>{% endif %}{% endcomment %}
    {% render_tag_links_detail entry %}
</div>
{% endwith %}
{% endwith %}
{% empty %}
<div class="roundbox">
    <em>No entries have been created.</em>
</div>
{% endfor %}
{% paginate %}
{% render_tag_links %}
{% endblock %}
