{% extends "photologue/root.html" %}
{% load core_tags %}
{% load url from future %}

{% block title %}Galleries{% endblock %}
{% block subtitle %} <small>Latest</small>{% endblock %}

{% block breadcrumb %}
    {% url "pl-gallery-archive" as archive_url %}
    {% make_crumbs "Galleries" archive_url %}
    {{ block.super }}
{% endblock %}

{% block content %}

{% comment %}<h1>Latest Photo Galleries</h1>{% endcomment %}

{% if latest %}
    {% for gallery in latest %}
    <ul class="unstyled photo-gallery">
	<li>
		<h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> <small>{{ gallery.date_added|date:"Y.m.d" }}</small></h2>
		<ul class="thumbnails">
			{% for photo in gallery.sample %}
			<li class="span2 gallery-photo">
			    <a class="thumbnail" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"></a>
			</li>
			{% endfor %}
		</ul>
	</li>
    </ul>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

<p><a class="btn" href="{% url 'pl-gallery-list' 1 %}">View all galleries</a></p>

{% endblock %}
