{% extends "photologue/root.html" %}

{% block title %}Galleries{% endblock %}
{% block subtitle %} <small>{{ month|date:"YEAR_MONTH_FORMAT" }}</small>{% endblock %}

{% block content %}

{% comment %}<h1>Galleries for {{ month|date:"F Y" }}</h1>{% endcomment %}

{% if object_list %}
    {% for gallery in object_list %}
    <ul class="unstyled photo-gallery">
	<li>
		<h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> <small>{{ gallery.date_added|date:"DATE_FORMAT" }}</small></h2>
		<ul class="thumbnails">
			{% for photo in gallery.sample %}
			<div class="span2 gallery-photo">
			    <a class="thumbnail" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"></a>
			</div>
			{% endfor %}
		</ul>
	</li>
    </ul>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

<p><a href="{% url 'pl-gallery-list' 1 %}">View all galleries</a></p>

{% endblock %}
