{% extends "photologue/root.html" %}
{% load markup core_tags %}
{% load url from future %}

{% block breadcrumb %}
    {% url "pl-gallery-archive" as archive_url %}
    {% url "pl-gallery-detail" as gallery_url %}
    {% make_crumbs "Galleries" archive_url %}
    {% make_crumbs object.title gallery_url %}
    {{ block.super }}
{% endblock %}

{% block title %}{{ object.title }}{% endblock %}
{% block subtitle %} <small>{{ object.date_added|date:"Y.m.d" }}</small>{% endblock %}

{% block content %}

{% comment %}<h1>{{ object.title }}</h1>{% endcomment %}
{% comment %}<h2>Originally published {{ object.date_added|date:"l, F jS, Y" }}</h2>{% endcomment %}
{% if object.description %}<p>{{ object.description|markdown }}</p>{% endif %}
<ul class="thumbnails photo-gallery row">
    {% for photo in object.public %}
	<li class="span4 gallery-photo">
		<a class="thumbnail" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"></a>
	</li>
    {% endfor %}
</ul>
<p><a class="btn" href="{% url 'pl-gallery-list' 1 %}">View all galleries</a></p>

{% endblock %}
