{% extends "photologue/root.html" %}
{% load url from future %}
{% load i18n core_tags %}

{% block title %}Galleries{% endblock %}
{% block subtitle %} <small>Archive</small>{% endblock %}

{% block breadcrumb %}
    {% url 'pl-gallery-archive' as archive_url %}
    {% make_crumbs "Galleries" archive_url %}
    {{ block.super }}
{% endblock %}

{% block content %}

{% comment %}<h1>All galleries</h1>{% endcomment %}

{% if object_list %}
    {% for gallery in object_list %}
    <ul class="unstyled photo-gallery">
	<li>
		<h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> <small>{{ gallery.date_added|date:"DATE_FORMAT" }}</small></h2>
		<ul class="thumbnails">
		{% for photo in gallery.sample %}
			<li class="span2 gallery-photo">
			    <a class="thumbnail" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"></a>
			</li>
		{% endfor %}
		</ul>
	</li>
    </ul>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

{% comment %}
<nav class="pagination">
	<ul class="pager">
		{% with previous_entry=object_list.previous_entry %}
			{% if previous_entry %}
				<li class="previous entry-previous">
					<a href="{{ previous_entry.get_absolute_url }}">&larr; {% trans "Previous" %}</a>
				</li>
			{% else %}
				<li class="previous disabled">
					<a>&larr; {% trans "Previous" %}</a>
				</li>
			{% endif %}
		{% endwith %}
		{% with next_entry=object_list.next_entry %}
			{% if next_entry %}
				<li class="next entry_next">
					<a href="{{ next_entry.get_absolute_url }}">{% trans "Next" %} &rarr;</a>
				</li>
			{% else %}
				<li class="next disabled">
					<a>{% trans "Next" %} &rarr;</a>
				</li>
			{% endif %}
		{% endwith %}
	</ul>
</nav>
{% endcomment %}


{% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}
            <li class="previous">
                <a href="{% url 'pl-gallery-list' page_obj.previous_page_number %}">&larr; Previous</a>
            </li>
        {% else %}
            <li class="previous disabled">
                <a href="javascript:void(0);">&larr; Previous</a>
            </li>
        {% endif %}
    
        <li><span>{{ page_obj.number }} / {{ paginator.num_pages }}</span></li>
    
        {% if page_obj.has_next %}
            <li class="next">
                <a href="{% url 'pl-gallery-list' page_obj.next_page_number %}">Next &rarr;</a>
            </li>
        {% else %}
            <li class="next disabled">
                <a href="javascript:void(0);">Next &rarr;</a>
            </li>    
        {% endif %}
    </ul>
{% endif %}

{% endblock %}
