{% extends "photologue/root.html" %}
{% load url from future %}

{% load photologue_tags core_tags %}

{% block title %}{{ object.title }}{% endblock %}
{% block subtitle %} <small>{{ object.date_added|date:"Y.m.d" }}</small>{% endblock %}

{% block breadcrumb %}
    {% url 'pl-photo-archive' as archive_url %}
    {% make_crumbs "Photos" archive_url %}
    {% make_crumbs object.title %}
    {{ block.super }}
{% endblock %}

{% block content %}

<div class="gallery-photo">
    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
	<img src="{{ object.image.url }}" alt="{{ object.title }}">
</div><!-- /gallery-photo -->
{% comment %}
{% if object.public_galleries %}
<h2>This photo is found in the following galleries:</h2>
<ol>
{% for gallery in object.public_galleries %}
    <li>{%previous_in_gallery object gallery%} <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> {%next_in_gallery object gallery%}</li>
{% endfor %}
</ol>
{% endif %}
{% endcomment %}

{% endblock %}
