{% extends "photologue/root.html" %}
{% load core_tags %}

{% block title %}Photos{% endblock %}
{% block subtitle %} <small>Latest</small>{% endblock %}

{% block breadcrumb %}
    {% url 'pl-photo-archive' as archive_url %}
    {% make_crumbs "Photos" archive_url %}
    {{ block.super }}
{% endblock %}

{% block content %}

{% comment %}<h1>Latest Photos</h1>{% endcomment %}

{% if latest %}
	<ul class="thumbnails">
	    {% for photo in latest %}
	    <li class="span2 gallery-photo">
		<a class="thumbnail" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"></a>
	    </li>
	    {% endfor %}
	</ul>
{% else %}
<p>No photos were found.</p>
{% endif %}

<p><a href="{% url 'pl-photo-list' 1 %}">View all photographs</a></p>

{% endblock %}
