{% extends "common/base.html" %}
{% load staticfiles compress %}
{% block widths %}span6 offset3{% endblock %}
{% block extrahead %}
	{{ block.super }}
	<link rel="icon" type="image/png" href="/favicon.ico">
	<link rel="shortcut icon" type="image/png" href="/favicon.ico">
	{# This is not compressable #}
	<link rel="stylesheet" type="text/css" media="screen" href="//fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700">
{% endblock extrahead %}
{% block css %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" media="all" href="{% static "css/screen.css" %}">
	<link rel="stylesheet" type="text/css" media="print" href="{% static "css/print.css" %}">
	{% endcompress %}
	{{ block.super }}
{% endblock css %}
{% block navigation_content %}
	{% include "navigation.html" %}
{% endblock navigation_content %}
{# {% block page_header %}
	{{ block.super }}
{% endblock page_header %} #}
{% block footer_content %}
	<p class="text-info hidden">
		<small>Copyright &copy; 2012 <a class="text-info" href="http://www.lizcheney.com">Elizabeth Cheney</a> and <a class="text-info" href="http://www.merenbach.com">Andrew Merenbach</a></small>
	</p>
	<p class="text-info hidden">
		<small>CSS3 <a hred="http://www.sitepoint.com/pure-css3-paper-curls/">Page curls</a> courtesy of <a href="http://www.sitepoint.com/author/craig-buckler/">Craig Buckler</a>.</small>
	</p>
{% endblock footer_content %}
