<!DOCTYPE html>
{% load static compress analytical %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} | The Romantics</title>
	{% analytical_head_top %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% compress css %}
	<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{% static "css/bootstrap.css" %}"></style>
	<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{% static "css/bootstrap-responsive.css" %}"></style>
	<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{% static "css/screen.css" %}"></style>
	<link rel="stylesheet" type="text/css" charset="utf-8" media="print" href="{% static "css/print.css" %}"></style>
	{% endcompress %}
	<!--[if lt IE 9]>
		{% compress js %}
		<script type="text/javascript" charset="utf-8" src="{% static "js/html5shiv.js" %}"></script>
		<script type="text/javascript" charset="utf-8" src="{% static "js/html5shiv-printshiv.js" %}"></script>
		{% endcompress %}
	<![endif]-->
	{% compress js %}
	<script type="text/javascript" charset="utf-8" src="{% static "js/jquery-1.8.2.min.js" %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.min.js" %}"></script>
	{% endcompress %}
	{% analytical_head_bottom %}
</head>
<body>
	{% analytical_body_top %}
	<div class="container">
		<div class="row">
			<section id="content" class="span6 offset3">
				{% block base_content %}{% endblock %}
			</section>
		</div>
		<footer id="footer">
			<p class="muted">Copyright &copy; 2012 <a href="http://www.lizcheney.com">Elizabeth Cheney</a> and <a href="http://www.merenbach.com">Andrew Merenbach</a></p>
		</footer>
	</div>
	<!-- Piwik --> 
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.merenbach.com/" : "http://piwik.merenbach.com/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script type="text/javascript">
	try {
		var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
		piwikTracker.trackPageView();
		piwikTracker.enableLinkTracking();
	} catch( err ) {}
	</script><noscript><p><img src="http://piwik.merenbach.com/piwik.php?idsite=4" style="border:0" alt=""></p></noscript>
	<!-- End Piwik Tracking Code -->
	{% analytical_body_bottom %}
</body>
</html>
