<!DOCTYPE html>
{% load sekizai_tags staticfiles analytical %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | {{ site.name }}</title>
		{% analytical_head_top %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% render_block "css" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block css %}
			{% addtoblock "css" %}
				<link rel="stylesheet" type="text/css" media="all" href="{% static "css/screen.css" %}">
				<link rel="stylesheet" type="text/css" media="print" href="{% static "css/print.css" %}">
				{% include "common/css/bootstrap.html" %}
			{% endaddtoblock %}
			{# This is not compressable #}
			<link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700">
		{% endblock %}
		{% include "common/js/html5shiv.html" %}
		{% analytical_head_bottom %}
	</head>
	<body>
		{% analytical_body_top %}
		<div class="container">
			<div class="row">
				<div class="span4 offset4">
					<section id="content">
						{% block base_content %}{% endblock %}
					</section>
					<footer id="footer">
						<p>Copyright &copy; 2012 <a class="muted" href="http://www.lizcheney.com">Elizabeth Cheney</a> and <a class="muted" href="http://www.merenbach.com">Andrew Merenbach</a></p>
					</footer>
				</div>
			</div>
		</div>
		{% render_block "js" postprocessor "compressor_contrib.sekizai.compress" %}
		{% block js %}
			{% addtoblock "js" %}
				{% include "common/js/jquery.html" %}
				{% include "common/js/bootstrap.html" %}
			{% endaddtoblock %}
		{% endblock %}
		{% analytical_body_bottom %}
	</body>
</html>
