#wrapper, #footer {
    min-width:  0 !important;
    max-width:  none !important;
}

/*#header {
    font-size: 0.85em;
}*/

/*body .mini-search-form input[type=text] {
    width: 10em;
}*/

/*#branding {
    float: none;
}*/

/*.mini-search-form {
    float: none;
}*/
