/* sticky footer stuff */

/* reset all margin and padding to 0 */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

/*#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2em;
}
#footer, .push {
    height: 2em;
}*/

#wrapper { min-height: 100%; }
#main {
    overflow: auto;
    padding-bottom: 2em;
}

#footer {
    position: relative;
    margin-top: -2em;
    height: 2em;
    clear: both;
}

body:before {
    content:"";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

/* clear: both; */
