{% if forloop.first %}<ol class="article-list unstyled">{% endif %}
    <li>
    <div class="well well-small">
    <span class="title"><a href="{{ article.get_absolute_url }}" title="Read this article">{{ article.title }}</a></span> <span class="label">{{ article.publish_date|date:"Y-m-d" }}</span>
        <div class="quiet">
            <em>Posted by <a href="{% url articles_by_author article.author.username %}" title="View articles posted by {{ article.author.get_name }}">{{ article.author.get_name }}</a></em>
        </div>
    </div>
    </li>
{% if forloop.last %}</ol>{% endif %}
