/* mixins */
/*@mixin border-radius ($radius) {
	border-radius:         $radius;
	-moz-border-radius:    $radius;
	-webkit-border-radius: $radius;
	-khtml-border-radius:  $radius;
}*/

/*@mixin box-shadow ($shadow) {
	box-shadow:         $shadow;
	-moz-box-shadow:    $shadow;
	-webkit-box-shadow: $shadow;
	-khtml-box-shadow:  $shadow;
}*/

/*@mixin box-sizing($sizing) {
	box-sizing:         $sizing;
	-webkit-box-sizing: $sizing;
	-moz-box-sizing:    $sizing;
	-ms-box-sizing:     $sizing;
}*/

/* For modern browsers */
/*@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after { clear: both; }

	/ * For IE 6/7 (trigger hasLayout) * /
	zoom: 1;
}*/

body {
	color: #333;
	background-color: #eee;
	padding-top: 40px;
}

#footer p {
	text-align: center;
}

.aboutpic {
	width: 12em;
	margin: 0.25em 0.5em 0.25em 0;
}

#content blockquote {
	word-wrap: break-word;
}

