body {
	color: #333;
	/*background-color: #eaeaea;*/
	background-color: #fafafa;
	/*background-color: #eee;*/
	padding-top: 40px;
}

#footer p {
	text-align: center;
}

#content blockquote {
	word-wrap: break-word;
}

#footer {
    padding-top: 1em;
}
