html body {
	color: #333;
	background-color: #fafafa;
	/*background-color: #eaeaea;*/
	/*background-color: #eee;*/
	/*font-family: 'Open Sans', sans-serif;*/
}

/* Bootstrap overrides: Everything related to font sizing or line height in pixels is +4px */
body {
	padding-top: 48px;
}

/* From bootstrap.css */

html .navbar {
  margin-bottom: 24px;
}

html .navbar-inner {
  min-height: 48px;
  padding-right: 24px;
  padding-left: 24px;
}

/* From bootstrap-responsive.css */

@media (max-width: 767px) {
  html body {
    padding-right: 24px;
    padding-left: 24px;
  }
  html .navbar-fixed-top,
  html .navbar-fixed-bottom,
  html .navbar-static-top {
    margin-right: -24px;
    margin-left: -24px;
  }
}


@media (max-width: 979px) {
  html .navbar-fixed-top {
    margin-bottom: 24px;
  }
  html .navbar-fixed-bottom {
    margin-top: 24px;
  }
  html .navbar-fixed-top .navbar-inner,
  html .navbar-fixed-bottom .navbar-inner {
    padding: 6px;
  }
  html .navbar .brand {
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 0 0 -6px;
  }
  html .nav-collapse .nav {
    margin: 0 0 12px;
  }
}

.footer {
	text-align: center;
}

blockquote {
	word-wrap: break-word;
}
