html body {
	color: #333;
	/*background-color: #eaeaea;*/
	background-color: #fafafa;
	/*background-color: #eee;*/
	/*font-family: 'Open Sans', sans-serif;*/
}

body {
	padding-top: 48px;
}

#footer {
	text-align: center;
}

blockquote {
	word-wrap: break-word;
}
