{% extends 'html_base.html' %}
{% load tags %}
{% block pagetitle %}Liz Cheney{% endblock %}
{% block navigation_overrides %}
{{ block.super }}
{% url bio as bio_url %}
<li class="{% active bio_url %}"><a href="{{ bio_url }}">Bio</a></li>
{% endblock %}
{% block branding %}
    {{ block.super }}
    <a class="logo" href="/"><img src="{{ STATIC_URL }}img/book.png" alt="Logo"></a>
    <a href="/">Liz Cheney</a>
    <div class="slogan">So many books&hellip; so little time!</div>
{% endblock %}
{% block copyright %}
    {{ block.super }}
    <span>Copyright &copy; 2011&ndash;2012 by Elizabeth Cheney &bull; <a href="/admin/">Admin</a> &bull; Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a></span>
{% endblock %}
