/* http://24ways.org/2009/have-a-field-day-with-html5-forms */

/* ---- html5 ---- */

/* used for li elements in order to remove requirement for the "clearfix" */
#contact-form-wrapper form, #contact-form-wrapper form fieldset, #contact-form-wrapper form legend, #contact-form-wrapper form ol, #contact-form-wrapper form li {
    margin: 0;
    padding: 0;
}

.challengebox {
    margin: 0.5em auto 1em;
    text-align: center;
}

.challengebox #recaptcha_area {
    margin: 0 auto;
}

/*	background-color: #9cbc2c;*/
#contact-form-wrapper form {
    /*margin: 2em auto;*/
    /*background-color: rgb(160, 160, 255);*/
    /*padding: 20px;*/
    /*width: 380px;*/
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/

}

#contact-form-wrapper form fieldset {
    border: none;
}

/*#contact-form-wrapper form fieldset:last-of-type {
margin-bottom: 0;
}*/

/*#contact-form-wrapper form legend {
color: #384313;
background-color: transparent;
font-size: 16px;
font-weight: bold;
padding-bottom: 10px;
text-shadow: 0 1px 1px rgb(160, 160, 192);
}*/
/*	text-shadow: 0 1px 1px #c0d576;
 */

#contact-form-wrapper form ol {
    margin-top: 0;
    padding-left: 0;
}

#contact-form-wrapper form ol li {
list-style: none;
padding: 0.5em 0;
margin-bottom: 2px;
}

#contact-form-wrapper form ol ol {
    display: inline-block;
}

#contact-form-wrapper form ol ol li {
    background: none;
    border: none;
    display: inline;
}

#contact-form-wrapper form ol li label {
    margin-bottom: 0.375em;
    margin-right: 2em;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    /*width: 120px;*/
    /*width: 12em;*/
}

#contact-form-wrapper form ol ol label {
    vertical-align: baseline;
}

#contact-form-wrapper form fieldset fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
    text-shadow: none;
}

#contact-form-wrapper form fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 20px;
    width: auto;
}


#contact-form-wrapper form fieldset fieldset label:hover {
    cursor: pointer;
}

/*#contact-form-wrapper form label  {
    display: block;
}*/

#contact-form-wrapper form input,
#contact-form-wrapper form textarea {
    /*background: #ffffff;
    border: none;
    font: 13px Courier, Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;*/
    /*width: 220px;*/
    width: 100%;
    display: block;
    /*border: solid 1px rgb(96, 96, 96);
    -moz-border-radius:     0.5em;
    -webkit-border-radius:  0.5em;
    -khtml-border-radius:   0.5em;
    border-radius:          0.5em;

    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;*/
}
/*#contact-form-wrapper form input:not([type=submit]):focus,
#contact-form-wrapper form textarea:focus {
    background: rgb(242, 242, 242);
}*/

#contact-form-wrapper form textarea {
    height: 8em;
}

/*#contact-form-wrapper form input[type=radio],
#contact-form-wrapper form input[type=checkbox] {
    display: inline-block;
    margin-right: 5px;
}*/

/*#contact-form-wrapper form input[type=submit],
#contact-form-wrapper form button {
    margin-top: 1em;
}*/
/*
#contact-form-wrapper .error label {
    color: red;
}
*/
/*#contact-form-wrapper .error ol {
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
}*/

/*#contact-form-wrapper .error .error_msg {
display: block;
color: black;
font-size: 1em;
font-weight: bold;
text-align: center;
text-shadow: 0.1em 0.1em 0.2em white;
}*/



#contact-form-wrapper .error_msg {
    color: red;
    font-size: 0.9em;
    font-style: oblique;
    /*	background: #384313;*/
}

.submit-container {
    text-align: center;
    margin: 0.5em auto;
}


#mcaptcha-image {
    display: block;
    margin: 0.75em auto 0;
    text-align: center;
}
