{% extends "common/html_base.html" %}
{% load staticfiles compress %}
{% block css %}
	{# CSS includes for Bootstrap #}
	{% compress css %}
	<link rel="stylesheet" type="text/less" media="all" href="{% static "less/bootstrap/bootstrap.less" %}">
	<link rel="stylesheet" type="text/less" media="all" href="{% static "less/bootstrap/responsive.less" %}">
	{% endcompress %}
{% endblock css %}
{% block js %}
	{# JS includes for Bootstrap #}
	{% compress js %}
	<script type="text/javascript" charset="utf-8" src="{% static "js/jquery-1.9.1.js" %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.js" %}"></script>
	{% endcompress %}
	{{ block.super }}
{% endblock js %}
{% block extrahead %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block body_content %}
	{% block navigation_wrapper %}
		<nav id="navigation">
			{% block navigation_content %}{% endblock %}
		</nav><!-- /#navigation -->
	{% endblock navigation_wrapper %}
	<div class="container">
		<div class="row">
			<div class="{% block widths %}{# 12 = span + 2*offset #}{% endblock %}">
				{% block header_wrapper %}
					<header id="header">
						{% block header_content %}
							<div class="page-header">
								{% block page_header %}
									<h1>{% block title %}{% endblock %} {% block subtitle %}{% endblock %}</h1>
								{% endblock page_header %}
							</div><!-- /.page-header -->
						{% endblock %}
					</header><!-- /#header -->
				{% endblock header_wrapper %}
				{% block base_wrapper %}
					<section id="base">
						{% block base_content %}
							{% block lead %}{% endblock %}
							{% block content_wrapper %}
								<section id="content">
									{% block content %}{% endblock %}
								</section><!-- /.content -->
							{% endblock content_wrapper %}
						{% endblock %}
					</section><!-- /#base -->
				{% endblock base_wrapper %}
				{% block footer_wrapper %}
					<footer id="footer">
						{% block footer_content %}{% endblock %}
					</footer><!-- /#footer -->
				{% endblock footer_wrapper %}
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
{% endblock body_content %}
