<!DOCTYPE html>
{% load compress staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% compress css %}
			<link rel="stylesheet" type="text/less" media="all" href="{% static "less/bootstrap/bootstrap.less" %}">
			<link rel="stylesheet" type="text/less" media="all" href="{% static "less/bootstrap/responsive.less" %}">
		{% endcompress %}
		{% include "common/js/html5shiv.html" %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<header class="page-header">
						<h1>{% block error_message %}{% endblock %} <small>{% block error_code %}{% endblock %}</small></h1>
					</header><!-- /.page-header -->
					<p class="lead">
						{% block error_detail %}{% endblock %}
					</p><!-- /.lead -->
					{% block error_extra %}{# Override to add regular-sized text #}{% endblock %}
				</div><!-- /.span4.offset4 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
		{% compress js %}
			<script type="text/javascript" charset="utf-8" src="{% static "js/jquery-1.9.1.js" %}"></script>
			<script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.js" %}"></script>
		{% endcompress %}
	</body>
</html>
