/* mixins */
@side-border: solid 1px #304860;
.content-bordered {
	border-left: @side-border;
	border-right: @side-border;
}

.vertical-gradient (@fg, @bg, @from, @to) {
	color: @fg;
	background-color: @bg;

	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to')"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  @from,  @to); /* for firefox 3.6+ */ 
}

html, body {
	background-color: #6080A0;
}

#header {
	.vertical-gradient(white, #406080, #6080A0, #102030);
}

#footer {
	.vertical-gradient(#CCCCCC, #406080, #406080, #102030);

	a {
		color: #72A4FD;
		&:active { color: yellow; }
	}
}

#body-inner {
	background-color: white;
	color: black;
}

#branding a {
	color: #C9D8F3;
}

/* general link catch-all */
#main a {
	color: #0000DC;
	&:active { color: red; }
}

.aboutpic {
	float: left;
	width: 12em;
	display: block;
	margin: 0.25em 0.5em 0.25em 0;
	border: solid 1px #606060;
}

code {
	background-color: #DFDBC3;
}
