{% extends "base.html" %}

{% block breadcrums_placeholder %}{% endblock %}

{% block search_placeholder %}{% endblock %}
{% block navigation_placeholder %}{% endblock %}

{% block title %}Internal server error{% endblock %}
{% block pagetitle %}Internal server error{% endblock %}

{% block base_content %}

<div class="roundbox">
There&rsquo;s been an error. It&rsquo;s been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience.
</div>

{% endblock %}
