{% load i18n %}
{# Custom reusable widget to cut down on duplicated code in Zinnia-provided `pagination.html` #}
{% for page_number in group %}
<li class="{% ifequal page.number page_number %}active{% endifequal %}">
  {% ifequal page.number page_number %}
  <span>{{ page_number }}</span>
  {% else %}
  <a href="?page={{ page_number }}{{ GET_string }}"
     title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
  {% endifequal%}
</li><!-- {% ifequal page.number page_number %}/.active {% endifequal %}-->
{% endfor %}
