{% extends "base.html" %}
{% load markup widget_tweaks %}
{% load url from future %}

{% block title %}Contact{% endblock %}

{% block content %}
    {% if form %}
		{{ message|markdown }}
		<form action="{% url 'contact' %}" method="post">{% csrf_token %}
			<div class="row-fluid">
				{% for field in form %}
					<div class="control-group {% if field.errors %}{{ form.error_css_class }}{% endif %}">
		                {{ field.errors }} {{ field.label_tag }}
						<div class="controls">
							{# A little Bootstrap hacking here: hoping for an elastic class in the future #}
							{{ field|add_class:"span12" }}
						</div><!-- /.controls -->
					</div><!-- /.control-group{% if field.errors %}.{{ form.error_css_class }}{% endif %} -->
				{% endfor %}
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Send Message</button>
				</div><!-- /.controls -->
			</div><!-- /.control-group -->
        </form><!-- /.contact-form -->
    {% else %}
    	<div class="muted">
			{{ message|markdown }}
		</div>
    	<p class="text-error">
    		Something went wrong.  Please try again later.
    	</p><!-- /.text-error -->
    {% endif %}
{% endblock content %}
