{% extends "base.html" %}
{% load sekizai_tags compress static %}

{% block title %}Contact{% endblock %}

{% block content %}
    {% if form %}
	<p>
		{% block contact_message %}
		I am always happy to hear from visitors.  Please feel free to use the below form to get in touch with me.  I try to respond to messages, <em>c&aelig;teris paribus</em>, within 24&ndash;48 hours.
		{% endblock %}
	</p>
	<form class="form-horizontal contact-form" action="/contact/" method="post">{% csrf_token %}
		{% for field in form %}
			<div class="control-group {% if field.errors %}{{ form.error_css_class }}{% endif %}">
                {{ field.label_tag }}
				<div class="controls">
					<div class="input-prepend">
                        <span class="add-on"><label for="id_{{ field.name }}"><i class="{% for key, value in form.field_icons.items %}{% if field.name == key %}{{ value }}{% endif %}{% endfor %}"></i></label></span>{{ field }}
                    </div>
                    {{ field.errors }}
				</div>
			</div>
		{% endfor %}
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Send Message</button>
			</div>
		</div>
        </form>
    {% else %}
        Something went wrong.  Please try again later.
    {% endif %}
{% endblock %}
