{% extends "base.html" %}
{% load sekizai_tags compress static %}
{% load url from future %}

{% block title %}Contact{% endblock %}

{% block content %}
    {% if form %}
	<p>
		{% block contact_message %}
		I am always happy to hear from visitors.  Please feel free to use the below form to get in touch with me.  I try to respond to messages, <em>c&aelig;teris paribus</em>, within 24&ndash;48 hours.
		{% endblock %}
	</p>
	<form class="contact-form" action="{% url 'contact' %}" method="post">{% csrf_token %}
		{% for field in form %}
			<div class="control-group {% if field.errors %}{{ form.error_css_class }}{% endif %}">
                {{ field.errors }} {{ field.label_tag }}
				<div class="controls">
                    {{ field }}
				</div>
			</div>
		{% endfor %}
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Send Message</button>
			</div>
		</div>
        </form>
    {% else %}
        Something went wrong.  Please try again later.
    {% endif %}
{% endblock %}
