{% extends "base.html" %}
{% load sekizai_tags compress static %}

{% block pagetitle %}Contact | {{ block.super }}{% endblock %}
{% block title %}Contact{% endblock %}

{% block extrahead %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "css/contact.scss" %}">
{% endcompress %}
{% endblock %}

{% block content %}
    {% if form %}
        <form class="contact-form" action="/contact/" method="post">{% csrf_token %}
            <p>
                {% block contact_message %}
                    Please feel free to use the below form to get in touch.
                {% endblock %}
            </p>
            <ul class="unstyled">
                {{ form.as_ul }}
            </ul>
            <fieldset class="submit-wrapper">
                <button class="btn" type="submit">Send Message</button>
            </fieldset>
        </form>
    {% else %}
        Something went wrong.  Please try again later.
    {% endif %}
{% endblock %}
