{% extends "base.html" %}
{% load markup widget_tweaks %}
{% load url from future %}

{% block title %}Contact{% endblock %}

{% block content %}
    {% if form %}
		{{ contact_page.message_text|markdown }}
		<form action="{% url 'contact' %}" method="post">{% csrf_token %}
			<div class="row-fluid">
				<div class="control-group{% if form.subject.errors %} {{ form.error_css_class }}{% endif %}">
	                {{ form.subject.errors }} {{ form.subject.label_tag }}
					<div class="controls">
						{{ form.subject|add_class:"span12" }}
					</div><!-- /.controls -->
				</div><!-- /.control-group -->
				<div class="control-group{% if form.message.errors %} {{ form.error_css_class }}{% endif %}">
	                {{ form.message.errors }} {{ form.message.label_tag }}
					<div class="controls">
						{{ form.message|add_class:"span12" }}
					</div><!-- /.controls -->
				</div><!-- /.control-group -->
				<div class="control-group{% if form.sender.errors %} {{ form.error_css_class }}{% endif %}">
	                {{ form.sender.errors }} {{ form.sender.label_tag }}
					<div class="controls">
						{{ form.sender|add_class:"span12" }}
					</div><!-- /.controls -->
				</div><!-- /.control-group -->
				<div class="control-group{% if form.cc_myself.errors %} {{ form.error_css_class }}{% endif %}">
					<div class="controls">
		                <label class="checkbox">
		                	{{ form.cc_myself }}
							<abbr class="initialism" title="Carbon-copy">CC</abbr> yourself?
							{{ form.cc_myself.errors }}
						</label><!-- /.checkbox -->
					</div><!-- /.controls -->
				</div><!-- /.control-group -->
			</div><!-- /.row-fluid -->
			<div class="control-group">
				<div class="controls">
					{% block submit_button %}
						<button type="submit" class="btn btn-primary">Send Message</button>
					{% endblock submit_button %}
				</div><!-- /.controls -->
			</div><!-- /.control-group -->
        </form><!-- /.contact-form -->
    {% else %}
    	<div class="muted">
			{{ contact_page.message_text|markdown }}
		</div><!-- /.muted -->
    	<div class="text-error">
    		{{ contact_page.failure_text|markdown }}
    	</div><!-- /.text-error -->
    {% endif %}
{% endblock content %}
