{% extends "base.html" %}
{% load url from future %}

{% block title %}Contact{% endblock %}

{% block content %}
    {% if form %}
		{% block contact_message %}Please feel free to send a message using the below form.{% endblock %}
		<form class="contact-form" action="{% url 'contact' %}" method="post">{% csrf_token %}
			{% for field in form %}
				<div class="control-group {% if field.errors %}{{ form.error_css_class }}{% endif %}">
	                {{ field.errors }} {{ field.label_tag }}
					<div class="controls">
						{% block field_override %}{{ field }}{% endblock %}
					</div><!-- /.controls -->
				</div><!-- /.control-group{% if field.errors %}.{{ form.error_css_class }}{% endif %} -->
			{% endfor %}
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Send Message</button>
				</div><!-- /.controls -->
			</div><!-- /.control-group -->
        </form><!-- /.contact-form -->
    {% else %}
        {% block failure_message %}
        	<p class="text-error">
        		Something went wrong.  Please try again later.
        	</p><!-- /.text-error -->
        {% endblock %}
    {% endif %}
{% endblock content %}
