{% extends "base.html" %}
{% load markup %}
{% load url from future %}

{% block title %}Contact{% endblock %}

{% block content %}
    {% if form %}
		{{ contact_page.message_text|markdown }}
		<form action="{% url 'contact' %}" method="post">{% csrf_token %}
			{% include "common/bootstrap_form_fields_wide.html" %}
			<div class="control-group">
				<div class="controls">
					{% block submit_button %}
						<button type="submit" class="btn btn-primary">Send Message</button>
					{% endblock submit_button %}
				</div><!-- /.controls -->
			</div><!-- /.control-group -->
        </form><!-- /.contact-form -->
    {% else %}
    	<div class="muted">
			{{ contact_page.message_text|markdown }}
		</div><!-- /.muted -->
    	<div class="text-error">
    		{{ contact_page.failure_text|markdown }}
    	</div><!-- /.text-error -->
    {% endif %}
{% endblock content %}
