{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Invitation{% endblock %}

{% block content %}
	

	<h3>This party is called &ldquo;{{ party.name }}.&rdquo; Members include:</h3>
	<ul>
		{% for member in party.members.all %}
			<li>{{ member.name }}</li>
		{% endfor %}
	</ul>
	<div class="row-fluid">
	   	<div class="box span12">
	   		<img src="{% static "img/JaneAustenSilhouette.png" %}" alt="Jane Austen" class="pull-left span2">
	   		<blockquote>
				<p>To be fond of dancing was a certain step towards falling in love</p>
				<small>Jane Austen, <cite class="title"><em>Pride and Prejudice</em></cite></small>
				
			</blockquote>
			
	   		<p>
				request the pleasure of your company at the celebration of their marriage
				<br>
				at
				<br>
				eleven o&rsquo;clock
				the morning of
				<br>
				Saturday, May 11th
			</p>
	   		<p>
		   		The Culver Hotel
				<br>
				9400 Culver Boulevard
				<br>
				Culver City  90232
			</p>
			<p>Reception to follow</p>
	    	<a href="{% url 'rsvp-response-card' slug=slug %}">Respond here</a>
		</div>
	</div>

{% endblock content %}
