{% extends "base.html" %}
{% load staticfiles sekizai_tags %}
{% load url from future %}

{% block title %}Invitation{% endblock %}

{% block css %}
	{{ block.super }}
	{% addtoblock "css" %}
		<link rel="stylesheet" type="text/css" media="all" href="{% static "css/rsvp.css" %}">
	{% endaddtoblock %}
{% endblock %}

{% block content %}
	<h3>This party is called &ldquo;{{ party.name }}.&rdquo; Members include:</h3>
	<ul>
		{% for member in party.members.all %}
			<li>{{ member.name }}</li>
		{% endfor %}
	</ul>
	<div class="box">
		<div class="row-fluid">
	   		<img src="{% static "img/JaneAustenSilhouette.png" %}" alt="Jane Austen" class="pull-left span2">
	   		<blockquote>
				<p>&ldquo;To be fond of dancing was a certain step towards falling in love&rdquo;</p>
				<small>Jane Austen, <cite class="title"><em>Pride and Prejudice</em></cite></small>
			</blockquote>
			<p class="lead">
				Elizabeth Cheney
				<br>
				&amp;
				<br>
				Andrew Merenbach
			</p>
	   		<p class="info">
				request the pleasure of your company at the celebration of their marriage
				<br>
				at
				<br>
				eleven o&rsquo;clock
				<br>
				the morning of
				<br>
				Saturday, May 11<sup>th</sup>
			</p>
			<div class="vcard info">
				<p class="fn"><a class="url" href="http://www.culverhotel.com">The Culver Hotel</a><p>
				<p class="adr">
					<span class="street-address">9400 Culver Boulevard</span><br>
					<span class="locality">Culver City</span><br>
					<span class="region">California</span><br>
					<span class="postal-code">90232</span><br>
					<span class="country-name hidden">United States</span><br>
				</p>
			</div>
			<p class="info"><em>Reception to follow</em></p>
	    	<div class="info"><a href="{% url 'rsvp-response-card' slug=slug %}">Respond here</a></div>
		</div>
	</div>

{% endblock content %}
