{% extends "rsvp/rsvp_base.html" %}
{% load markdown_deux_tags core_tags widget_tweaks staticfiles %}

{% block content %}
<div class="box">
	 {% if form %}
		<form action="{% url 'rsvp-response-card' slug=slug %}" method="post">{% csrf_token %}
			<div class="row-fluid">
				<div class="span10 offset1">
			   		<header class="clearfix">
				   		<img src="{% static "img/JaneAustenSilhouette.png" %}" alt="Jane Austen" class="pull-left span2 hidden-phone">
						<p class="lead">Come celebrate with us!</p>
						<p class="info">Kindly respond by April 4<sup>th</sup>, 2013.</p>
					</header>
					<br>
					{% if form.primary_invitees.field.choices %}
						<div class="control-group">
							<div class="controls">
								<p class="text-info"><em>Please mark as attending</em></p>
								{% include "rsvp/checkbox_snippet.html" with wrapper=form.primary_invitees %}
								{% include "rsvp/checkbox_snippet.html" with wrapper=form.secondary_invitees %}
							</div>
						</div>
					{% endif %}
					<div class="control-group">
						<label class="control-label text-info" for="{{ form.message.auto_id }}">
							<span><em>{{ form.message.label }}</em></span>
						</label>
			            <div class="controls">
							{{ form.message|add_class:"span12" }}
						</div>
					</div>
					{% if form.primary_invitees.field.choices %}
						<div class="control-group">
				            <div class="controls">
								<label class="checkbox">
									{{ form.cc_myself|attr:"checked" }}
									{{ form.cc_myself.label }}
								</label>
							</div>
						</div>
					{% endif %}
				</div>
				<div class="control-group">
					<div class="controls">
						{% block submit_button %}
							<button type="submit" class="btn btn-inverse span10 offset1">Confirm</button>
						{% endblock submit_button %}
					</div><!-- /.controls -->
				</div><!-- /.control-group -->
			</div><!-- .row-fluid -->
        </form>
    {% else %}
    	<div class="text-error">
    		Please accept our apologies, but a server error has occurred.  Fear not, for Andrew shall be beaten about the head mercilessly for his shoddy workmanship.
    	</div><!-- /.text-error -->
    {% endif %}

</div>
{% endblock content %}