{% load i18n %}
<article id="article-content" class="article cf">
    <span class="label label-info">{{ article.publish_date|date:"Y-m-d" }}</span>
    {{ article.rendered_content|safe }}
</article>

{% for att in article.attachments.all %}
{% if forloop.first %}<div id="article-attachments">
    <h3>Attachments</h3>
    <ul>{% endif %}
        <li id="attachment-{{ forloop.counter }}" class="attachment ct_{{ att.content_type_class }}">
            <a href="{{ att.attachment.url }}" class="attachment-link">{{ att.filename }}</a>
            <span class="attachment-size">Size: {{ att.attachment.size|filesizeformat }}</span>
        </li>
    {% if forloop.last %}</ul>
</div>{% endif %}
{% endfor %}

