{% extends 'articles/base.html' %}

{% block title %}Entries tagged <em>{{ tag.name }}</em>{% ifnotequal paginator.num_pages 1 %}, page {{ page_obj.number }}{% endifnotequal %}{% endblock %}
{% block pagetitle %}Blog | {{ block.super }}{% endblock %}
{% block extra-head %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="Blog Articles Tagged '{{ tag.name }}' RSS Feed" href="{% url articles_rss_feed_tag tag.rss_name %}" />
<link rel="alternate" type="application/atom+xml" title="Blog Articles Tagged '{{ tag.name }}' Atom Feed" href="{% url articles_atom_feed_tag tag.rss_name %}" />
{% endblock %}

{% block articles-content %}

{% for article in page_obj.object_list %}
{% include 'articles/_articles.html' %}
{% endfor %}
{% endblock %}
