{% extends "base.html" %}
{% block title %}{{ comic.title }}{% endblock %}
{% block subtitle %}<small><abbr title="{{ object.created|date:"c" }}">{{ object.created|date:"Y.m.d" }}</abbr></small>{% endblock %}
{% block content %}
<div>
    <img src="{{ comic.image_url }}">
    <nav class="pagination pagination-centered">
        <ul>
            <li><a href="{{ first.get_absolute_url }}">First</a></li>
        {% if prev %}
            <li><a href="{{ prev.get_absolute_url }}">Previous</a></li>
        {% endif %}
        {% if next %}
            <li><a href="{{ next.get_absolute_url }}">Next</a></li>
        {% endif %}
            <li><a href="{{ last.get_absolute_url }}">Last</a></li>
        </ul>
    </nav>
</div>
{% endblock content %}