{% extends "base.html" %}
{% load widget_tweaks %}
{% load url from future %}

{% block title %}Contact{% endblock %}

{% block content %}
    {% if form %}
	<p>
		{% block contact_message %}
		Please leave your calling card!  We shall be in touch as soon as we can.
		{% endblock %}
	</p>
	<form action="{% url 'contact' %}" method="post">{% csrf_token %}
		{% for field in form %}
			<div class="control-group {% if field.errors %}{{ form.error_css_class }}{% endif %}">
                {{ field.errors }} {{ field.label_tag }}
				<div class="controls">
                    {{ field|add_class:"span6" }}
				</div>
			</div>
		{% endfor %}
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Send Message</button>
			</div>
		</div>
        </form>
    {% else %}
        Something went wrong.  Please try again later.
    {% endif %}
{% endblock %}
