{% extends "photologue/root.html" %}

{% block title %}{{ object.title }}{% endblock %}
{% block pagetitle %}{{ object.title }}{% endblock %}

{% block content %}

<h2>Originally published {{ object.date_added|date:"l, F jS, Y" }}</h2>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<ul class="photo-gallery thumbnails">
    {% for photo in object.public %}
    <li class="gallery-photo span3">
    <a class="btn" data-title="{{ photo.title }}" data-image="{{ photo.get_display_url }}" data-toggle="modal" data-target="#gallery_modal" href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
    </li>
    {% endfor %}
</ul>
<p><a href="{% url pl-gallery-list 1 %}">View all galleries</a></p>
<div class="modal hide fade" id="gallery_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{{ photo.title }}</h3>
    </div>
    <div class="modal-body">
        <img src="" alt="">
        <!--<p>Photo goes here</p>-->
    </div>
    {% comment %}
    <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
    {% endcomment %}
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
            $('.photo-gallery .btn').click(function() {
                $('#gallery_modal .modal-header h3').html($(this).data('title'));
                $('#gallery_modal .modal-body img').attr('src', ($(this).data('image')));
            });
    });
</script>
{% endblock %}
