{% extends "base.html" %}
{% load sekizai_tags %}

{% block content %}
<div class="modal hide fade" id="gallery_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{{ photo.title }}</h3>
    </div>
    <div class="modal-body">
        <img src="" alt="">
        <!--<p>Photo goes here</p>-->
    </div>
    {% comment %}
    <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
    {% endcomment %}
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
            $('.photo-gallery .thumbnail').click(function() {
                $('#gallery_modal .modal-header h3').html($(this).data('title'));
                $('#gallery_modal .modal-body img').attr('src', ($(this).data('image')));
            });
    });
</script>
{% endblock %}
