/*div.alphabet-grid {
font-family: Courier, monospace;
margin: 2em;
font-size: 0.8em;
}

div.alphabet-grid div.grid {
display: inline-block;
margin: 0;
padding: 0;
text-align: center;
}

div.grid-row {
padding: 0;
margin: 0;
}

div.alphabet-grid div.grid-corner {
display: inline-block;
margin: 0;
padding: 0.25em 0.5em;
border-right: solid transparent 1px;
}

div.grid-spacer {
display: block;
}

div.alphabet-grid div.grid-header {
display: inline-block;
margin: 0;
padding: 0;
background-color: silver;
border-top: solid black 1px;
border-right: solid black 1px;
border-left: solid black 1px;
font-weight: bold;
}

div.alphabet-grid div.grid-header > ul {
list-style-type: none;
padding: 0;
margin: 0;
}

div.alphabet-grid div.grid-header > ul > li {
display: inline-block;
padding: 0.25em 0.5em;
}

div.alphabet-grid div.grid-sidebar {
display: inline-block;
margin: 0;
padding: 0;
background-color: silver;
border-left: solid black 1px;
border-bottom: solid black 1px;
border-top: solid black 1px;
font-weight: bold;
}

div.alphabet-grid div.grid-sidebar > ul {
list-style-type: none;
margin: 0;
padding: 0;
}

div.alphabet-grid div.grid-sidebar > ul > li {
display: block;
padding: 0.25em 0.5em;
}

div.alphabet-grid div.grid-inner {
background-color: white;
display: inline-block;
margin: 0;
padding: 0;
border: solid black 1px;
}

div.alphabet-grid div.grid-inner > ul {
margin: 0;
padding: 0;
list-style-type: none;
}

div.alphabet-grid div.grid-inner > ul > li {
display: inline;
}

div.alphabet-grid div.grid-inner ul.grid-line {
list-style-type: none;
padding: 0;
}

div.alphabet-grid div.grid-inner ul.grid-line li {
display: inline-block;
padding: 0.25em 0.5em;
}*/

/* ---- html5 ---- */

/* used for li elements in order to remove requirement for the "clearfix" */
.labform, .labform fieldset, .labform legend, .labform ol, .labform li {
    margin: 0;
    padding: 0;
}

/*	background-color: #9cbc2c;*/
.labform {
    margin: 2em auto;
    background-color: rgb(160, 160, 255);
    padding: 20px;
    width: 420px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.labform fieldset {
    border: none;
    margin-bottom: 10px;
}

.labform fieldset:last-of-type {
    margin-bottom: 0;
}

.labform legend {
    color: #384313;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px rgb(160, 160, 192);
}
/*	text-shadow: 0 1px 1px #c0d576;
 */

.labform ol {
    margin-top: 0;
    padding-left: 0;
}

.labform ol li {
    background: rgb(192, 192, 255);
    background: rgba(255, 255, 255, 0.3);
    border-color: rgb(220, 220, 255);
    border-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-width: 2px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.labform ol ol {
    display: inline-block;
}

.labform ol ol li {
    background: none;
    border: none;
    display: inline;
}

.labform label {
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    width: 120px;
}

.labform ol ol label {
    vertical-align: baseline;
}

.labform fieldset fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
    text-shadow: none;
}

.labform fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 20px;
    width: auto;
}

/*.labform label[for=visa] {
background-image: url(visa.gif);
}

.labform label[for=amex] {
background-image: url(amex.gif);
}

.labform label[for=mastercard] {
background-image: url(mastercard.gif);
}*/

.labform fieldset fieldset label:hover {
    cursor: pointer;
}

.labform input:not([type=radio]):not([type=checkbox]),
.labform textarea {
    background: #ffffff;
    border: none;
    font: 13px Courier, Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width: 220px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.labform input:not([type=submit]):focus,
.labform textarea:focus {
    background: #eaeaea;
}

.labform textarea {
    height: 8em;
}

.labform input[type=radio],
.labform input[type=checkbox] {
    display: inline-block;
    margin-right: 5px;
}

/*	background: #384313;
 */
.labform button,
.labform input[type=submit] {
    background: rgb(96, 96, 192);
    border: none;
    color: #ffffff;
    display: inline-block;
    font: 18px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
/*	border: solid black 2px;
 */

.labform button:hover,
.labform input[type=submit]:hover {
    background: rgb(64, 64, 192);
    cursor: pointer;
}

/*.labform button:active {
background: rgb(64, 128, 32);
border: solid white 2px;
}*/


/*ol.row-list {
list-style-type: disc;
margin-top: 0;
padding-left: 0;
display: none;
}

ol.row-list li {
display: inline-block;
}*/

/*.label-cell {
display: inline-block;
vertical-align: top;
text-align: left;
width: 120px;
}

.input-cell {
vertical-align: top;
display: inline-block;
text-align: left;
width: 220px;
}

.help-cell {
display: inline-block;
vertical-align: top;
text-align: right;
width: 3em;
}

.wide-cell {
padding-right: 5px;
margin: 0;
display: inline-block;
vertical-align: top;
text-align: left;
width: 340px;
}*/

.jserror {	
    color: black;
    background-color: yellow;
    background-color: rgba(255, 255, 0, 0.75);
    border: solid red 2px;
    border: solid rgba(255, 0, 0, 0.25) 2px;
    font-weight: bold;
    font-size: 0.9em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px !important;
}

/* add a margin to intro paragraphs */
li#introductionitem div {
    margin-bottom: 1em;
}

/* no margin on the last "paragraph" */
li#introductionitem div:last-child {
    margin-bottom: 0;
}

/* For modern browsers */
.labform ol li:before,
.labform ol li:after {
    content:"";
    display:table;
}

.labform ol li:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.labform ol li {
    zoom:1;
}

.labform .subwrap { text-align: center; }

