{% load tagging_tags i18n %}
{% load url from future %}
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}{% if not continue_reading %} well well-small{% endif %}">
	<div class="entry-header">
		{% if continue_reading %}
			<h2 class="entry-title">
				<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">{{ object.title }}</a> <small>{{ object.creation_date|date:"Y.m.d" }}</small>
			</h2>
		{% endif %}
	</div>

	<div class="entry-body">
		{% if object.image %}
			<div class="entry-image">
				<p>
					{% if continue_reading %}
						<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
					{% endif %}
					<img src="{{ object.image.url }}" alt="{{ object.title }}" class="left">
					{% if continue_reading %}
						</a>
					{% endif %}
				</p>
			</div>
		{% endif %}

		{% if not continue_reading %}
		<div class="entry-content">
			{{ object_content }}
		</div>
		{% else %}
		<p>
			{{ object.excerpt|safe|striptags }}
			{% tags_for_object object as tag_list %}
			{% if tag_list %}
			<small>
				{% for tag in tag_list %}
				<a class="muted" href="{% url 'zinnia_tag_detail' tag %}"
				title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
				rel="tag">{{ tag }}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
			</small>
			{% endif %}
		</p>
		{% endif %}
		{% comment %}
			{% if continue_reading %}
				<p class="continue-reading">
					<a href="{{ object.get_absolute_url }}"
						title="{% blocktrans with object=object.title %}Continue reading {{ object }}{% endblocktrans %}"
						rel="bookmark">
						{% trans "Continue reading" %}
					</a>
				</p>
			{% endif %}
		{% endcomment %}
		{% if not continue_reading %}
			<small class="muted">Fin</small>
		{% endif %}
	</div>
</div>
