{% extends "zinnia/base.html" %}
{% load i18n core_tags %}
{% load url from future %}

{% block breadcrumb %}
    {% make_crumbs "Authors" %}
    {{ block.super }}
{% endblock %}

{% block meta-description %}{% trans "Author list" %}{% endblock %}

{% block subtitle %} <small>{% trans "Authors" %}</small>{% endblock %}

{% block body-class %}author-list{% endblock %}

{% block content %}
{% comment %}<h2>{% trans "Author list" %}</h2>{% endcomment %}

<ul>
  {% for object in object_list %}
  <li class="vcard">
    <a href="{% url 'zinnia_author_detail' object.username %}"
       title="{% blocktrans with author=object %}Show all {{ author }}'s entries{% endblocktrans %}"
       class="fn nickname url">{{ object }}</a>
    {% comment %}{{% blocktrans count entry_count=object.entries_published.count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}{% endcomment %}
	 <span class="badge badge-info">{{ object.entries_published.count }}</small>
  </li>
  {% empty %}
  <li>
    {% trans "No authors yet." %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
