{% extends "zinnia/entry_detail_base.html" %}
{% load i18n core_tags tagging_tags %}
{% load url from future %}

{% block lead %}
	{% if object.excerpt %}
		<p class="lead">
			{{ object.excerpt|safe|striptags }}
			{% tags_for_object object as tag_list %}
			{% if tag_list %}
				<small>
					{% for tag in tag_list %}
					<a class="muted" href="{% url 'zinnia_tag_detail' tag %}"
					   title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
					   rel="tag">{{ tag }}</a>{% if not forloop.last %},{% endif %}
				   {% endfor %}
				</small>
			{% endif %}
		</p><!-- /.lead -->
	{% endif %}
{% endblock lead %}

{% block breadcrumb %}
	{% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
		{% url 'zinnia_entry_archive_year' year as year_url %}
		{% url 'zinnia_entry_archive_month' year month as month_url %}
		{% url 'zinnia_entry_archive_day' year month day as day_url %}
		{% make_crumbs year year_url %}
		{% make_crumbs month month_url %}
		{% make_crumbs day day_url %}
		{% make_crumbs entry.title %}
	{% endwith %}
	{{ block.super }}
{% endblock breadcrumb %}

{% block subtitle %} <small><abbr title="{{ object.creation_date|date:"c" }}">{{ object.creation_date|date:"DATE_FORMAT" }}</abbr></small>{% endblock %}

{% block entry-widgets %}
<nav class="entry-widgets">
	<ul class="pager">
		{% with previous_entry=object.previous_entry %}
			{% if previous_entry %}
				<li class="previous">
					<a href="{{ previous_entry.get_absolute_url }}">&larr; {% trans "Previous" %}</a>
				</li><!-- /.previous -->
			{% else %}
				<li class="previous disabled">
					<a>&larr; {% trans "Previous" %}</a>
				</li><!-- /.previous.disabled -->
			{% endif %}
		{% endwith %}
		{% with next_entry=object.next_entry %}
			{% if next_entry %}
				<li class="next">
					<a href="{{ next_entry.get_absolute_url }}">{% trans "Next" %} &rarr;</a>
				</li><!-- /.next -->
			{% else %}
				<li class="next disabled">
					<a>{% trans "Next" %} &rarr;</a>
				</li><!-- /.next.disabled -->
			{% endif %}
		{% endwith %}
	</ul><!-- /.pager -->
</nav><!-- /.entry-widgets -->
{% endblock %}
{% block entry-pingbacks %}{% endblock %}
{% block entry-trackbacks %}{% endblock %}
{% block entry-comments %}{% endblock %}
