{% extends "zinnia/entry_detail_base.html" %}
{% load i18n disqus_tags core_tags tagging_tags %}


{% block page_header %}
	{{ block.super }}
	{% if object.excerpt %}
		<p class="lead">
			{{ object.excerpt }}
		</p>
	{% endif %}
{% endblock %}

{% block breadcrumb %}
	{% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
		{% url zinnia_entry_archive_year year as year_url %}
		{% url zinnia_entry_archive_month year month as month_url %}
		{% url zinnia_entry_archive_day year month day as day_url %}
		{% make_crumbs year year_url %}
		{% make_crumbs month month_url %}
		{% make_crumbs day day_url %}
		{% make_crumbs entry.title %}
	{% endwith %}
	{{ block.super }}
{% endblock %}

{% block subtitle %} <small>{{ object.creation_date|date:"Y.m.d" }}</small>{% endblock %}

{% block entry-widgets %}
<nav class="entry-widgets">
	<ul class="pager">
		{% with previous_entry=object.previous_entry %}
			{% if previous_entry %}
				<li class="previous entry-previous">
					<a href="{{ previous_entry.get_absolute_url }}">&larr; {% trans "Previous" %}</a>
				</li>
			{% else %}
				<li class="previous disabled">
					<a>&larr; {% trans "Previous" %}</a>
				</li>
			{% endif %}
		{% endwith %}
		{% with next_entry=object.next_entry %}
			{% if next_entry %}
				<li class="next entry_next">
					<a href="{{ next_entry.get_absolute_url }}">{% trans "Next" %} &rarr;</a>
				</li>
			{% else %}
				<li class="next disabled">
					<a>{% trans "Next" %} &rarr;</a>
				</li>
			{% endif %}
		{% endwith %}
	</ul>
</nav>
{% endblock %}
{% block entry-comments %}{% endblock %}
{% block entry-pingbacks %}{% endblock %}
{% block entry-trackbacks %}{% endblock %}
{% block entry-comments-form %}
	{% if object.comments_are_open %}
		{% disqus_show_comments %}
	{% else %}
		<p class="muted">{% trans "Comments are disabled." %}</p>
	{% endif %}
{% endblock %}
