{% extends "zinnia/entry_detail_base.html" %}
{% load i18n core_tags tagging_tags %}
{% load url from future %}

{% block lead %}
	{% if object.excerpt %}
		<p class="lead">
			{{ object.excerpt|safe|striptags }}
			{% tags_for_object object as tag_list %}
			{% if tag_list %}
				<small>
					{% for tag in tag_list %}
					<a class="muted" href="{% url 'zinnia_tag_detail' tag %}"
					   title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
					   rel="tag">{{ tag }}</a>{% if not forloop.last %},{% endif %}
				   {% endfor %}
				</small>
			{% endif %}
		</p><!-- /.lead -->
	{% endif %}
{% endblock lead %}

{% block breadcrumb %}
	{% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
		{% url 'zinnia_entry_archive_year' year as year_url %}
		{% url 'zinnia_entry_archive_month' year month as month_url %}
		{% url 'zinnia_entry_archive_day' year month day as day_url %}
		{% make_crumbs year year_url %}
		{% make_crumbs month month_url %}
		{% make_crumbs day day_url %}
		{% make_crumbs entry.title %}
	{% endwith %}
	{{ block.super }}
{% endblock breadcrumb %}

{% block subtitle %} <small><abbr title="{{ object.creation_date|date:"c" }}">{{ object.creation_date|date:"Y.m.d" }}</abbr></small>{% endblock %}

{% block entry-widgets %}
<nav class="entry-widgets">
	<ul class="pager">
		{% with previous_entry=object.previous_entry %}
			{% if previous_entry %}
				<li class="previous">
					<a href="{{ previous_entry.get_absolute_url }}">&larr; {% trans "Previous" %}</a>
				</li><!-- /.previous -->
			{% else %}
				<li class="previous disabled">
					<a>&larr; {% trans "Previous" %}</a>
				</li><!-- /.previous.disabled -->
			{% endif %}
		{% endwith %}
		{% with next_entry=object.next_entry %}
			{% if next_entry %}
				<li class="next">
					<a href="{{ next_entry.get_absolute_url }}">{% trans "Next" %} &rarr;</a>
				</li><!-- /.next -->
			{% else %}
				<li class="next disabled">
					<a>{% trans "Next" %} &rarr;</a>
				</li><!-- /.next.disabled -->
			{% endif %}
		{% endwith %}
	</ul><!-- /.pager -->
</nav><!-- /.entry-widgets -->
{% endblock %}
{% block entry-comments-form %}{% endblock %}
{% block entry-pingbacks %}{% endblock %}
{% block entry-trackbacks %}{% endblock %}
{% block entry-comments %}
<section id="comments">
	<h2>{% trans "Comments" %}</h2>
	{% if object.comments_are_open and not debug %}
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'merenbach'; // required: replace example with your forum shortname

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	{% else %}
		<p class="muted">
			{% trans "Comments are disabled." %}
		</p><!-- /.muted -->
	{% endif %}
</section><!-- /.comments -->
{% endblock %}
