{% extends "zinnia/entry_list.html" %}
{% load i18n core_tags %}

{% block breadcrumb %}
    {% url 'zinnia_entry_archive_year' year as year_url %}
    {% make_crumbs year|date:"Y" year_url %}
    {{ block.super }}
{% endblock %}

{% block meta-description %}{% trans "Archives" %} {{ year|date:"Y" }}{% endblock %}

{% block subtitle %} <small>{{ year|date:"Y" }}</small>{% endblock %}

{% block body-class %}{{ block.super }} archive date year year-{{ year|date:"Y" }}{% endblock %}

{% comment %}
{% block content-title %}
<h1>{% trans "Archives" %} {{ year }}</h1>
{% endblock %}
{% endcomment %}

{% block content-related %}
<h2>{% trans "Monthly archives" %}</h2>
<ul>
  {% for date in date_list %}
  <li>
    <a href="{% url 'zinnia_entry_archive_month' date|date:"Y" date|date:"m" %}" rel="archives">{{ date|date:"DATE_FORMAT" }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
