{% extends "zinnia/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login required" %}{% endblock %}

{% block body-class %}login-required{% endblock %}

{% block content %}
<div>
	{% for error in form.non_field_errors %}
		<div class="alert alert-error">
			 <button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ error }}
		</div>
	{% endfor %}
	<p class="{% if not form.non_field_errors %}text-info{% else %}muted{% endif %}">
		{% trans "You need to log in to view this entry." %}
	</p>

	<form class="form-horizontal" method="post" action=".">{% csrf_token %}
		{% include "common/bootstrap_form_fields_horizontal.html" %}
		<div class="control-group">
			<div class="controls">
				<input type="hidden" name="next" value=".">
				<button type="submit" class="btn">{% trans "Login" %}</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
