{% extends "zinnia/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login required" %}{% endblock %}

{% block body-class %}login-required{% endblock %}

{% block content %}
<div>
	{% if form.errors %}
		<p class="error">
			{% trans "Your username and password didn't match. Please try again." %}
		</p>
	{% endif %}
	<p>
		{% trans "You need to be connected to view this entry." %}
	</p>

	<form class="form-horizontal" method="post" action=".">{% csrf_token %}
		<div class="control-group">
			<label class="control-label" for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
			<div class="controls">
				{{ form.username }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
			<div class="controls">
				{{ form.password }}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="hidden" name="next" value=".">
				<button type="submit" class="btn">{% trans "Login" %}</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
