{% extends "html_base.html" %}
{% load core_tags %}
{% block content_title %}{% endblock %}
{% block page_title %}The Romantics{% endblock %}
{% block project %}The Romantics{% endblock %}
{% block navigation_overrides %}
{{ block.super }}
{# url our_story as our_story_url #}
{% url events as events_url %}
{% url friends_and_family as friends_and_family_url %}
{% url pl-gallery-archive as gallery_url %}
{% url registry as registry_url %}
{% comment %}<li class="{% active our_story_url %}"><a href="{{ our_story_url }}">Our Story</a></li> {% endcomment %}
<li class="{% active events_url %}"><a href="{{ events_url }}">Wedding Day</a></li>
<li class="{% active friends_and_family_url %}"><a href="{{ friends_and_family_url }}">Friends &amp; Family</a></li>
<li class="{% active gallery_url %}"><a href="{{ gallery_url }}">Gallery</a></li>
<li class="{% active registry_url %}"><a href="{{ registry_url }}">Registry</a></li>
{% endblock %}
{% comment %}
{% block branding %}
    {{ block.super }}
    <a class="logo" href="/"><img src="{{ STATIC_URL }}img/austen.png" alt="Logo"></a>
    <a href="/">The Romantics</a>
    <div class="slogan">Elizabeth Cheney &amp; Andrew Merenbach</div>
{% endblock %}
{% endcomment %}
{% block copyright %}{{ block.super }} Liz Cheney &amp; Andrew Merenbach{% endblock %}
